{% extends "base_normal.html" %}

{% block content %}
<div class="my-5">
  <div class="row">
    <div class="col-md-3 col-lg-3">
      {% include "labs/sectors/general/sidenav_general.html" %}
    </div>
    <div class="col-md-9 col-lg-9 mt-4">
                <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-md-12 mb-4">  
                <!-- Card -->
                <div class="card">
                    <div class="p-3">
                        <h3 class="card-title">Información del Personal Administrativo</h3>
                        <table id="generalAdmin" class="display compact table table-bordered table-responsive table-striped text-center">
                            <thead class="primary-color-dark white-text">
                              <tr>
                                <th>Nombre de Usuario</th>
                                <th>Titulo</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Staff</th>
                                <th>Email</th>
                                <th>Activo</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for admin in qs_admins %}
                              <tr>
                                <td>{{ admin.username }}</td>
                                <td>{{ admin.adminprofile.title }}</td>
                                <td>{{ admin.first_name }}</td>
                                <td>{{ admin.last_name }}</td>
                                <td>{{ admin.adminprofile.staff }}</td>
                                <td>{{ admin.email }}</td>
                                <td>{{ admin.adminprofile.active }}</td>
                              </tr>
                              {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Card -->
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-12 mb-4">  
                <!-- Card -->
                <div class="card">
                  <div class="p-3">
                    <h3 class="card-title">Información del Personal Docente</h3>
                    <table id="generalTeacher" class="display compact table table-bordered table-responsive table-striped text-center">
                      <thead class="primary-color-dark white-text">
                        <tr>
                          <th>Nombre de Usuario</th>
                          <th>Titulo</th>
                          <th>Nombre</th>
                          <th>Apellido</th>
                          <th>DNI</th>
                          <th>Email</th>
                          <th>Codigo</th>
                          <th>Activo</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for teacher in qs_teachers %}
                        <tr>
                          <td>{{ teacher.username }}</td>
                          <td>{{ teacher.teacherprofile.title }}</td>
                          <td>{{ teacher.first_name }}</td>
                          <td>{{ teacher.last_name }}</td>
                          <td>{{ teacher.teacherprofile.dni }}</td>
                          <td>{{ teacher.email }}</td>
                          <td>{{ teacher.teacherprofile.codigo }}</td>
                          <td>{{ teacher.teacherprofile.active }}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
                <!-- Card -->
            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->      
    </div>
  </div>
</div>
{% endblock content %}
{% block js %}
<script>
  $(document).ready( function () {
    $('#generalAdmin').DataTable({
      "scrollX": true,
      dom: 'B<"clear">lfrtip',
      buttons: [
          'csv', 'excel',
          {
            extend: 'pdfHtml5',
            orientation: 'landscape',
            pageSize: 'LEGAL',
            filename: 'clientes_{{ qs_users.count }}'
          }
      ]
    });
  } );
</script>
<script>
  $(document).ready( function () {
    $('#generalTeacher').DataTable({
      "scrollX": true,
      dom: 'B<"clear">lfrtip',
      buttons: [
          'csv', 'excel',
          {
            extend: 'pdfHtml5',
            orientation: 'landscape',
            pageSize: 'LEGAL',
            filename: 'clientes_{{ qs_users.count }}'
          }
      ]
    });
  } );
</script>
{% endblock %}