<div id="menu">
    <div class="list-group">
      <a href="#" class="list-group-item unique-color white-text" data-toggle="collapse" data-target="#list-one" data-parent="#menu"><i class="fas fa-laptop pr-2"></i>Información General</a>
      <div class="list-group collapse" id="list-one">
        <a class="list-group-item" href="{% url 'labs:general_personal' %}"><i class="fas fa-angle-double-right pr-2"></i>Personal</a>
        <a class="list-group-item" href="{% url 'labs:general_equips' %}"><i class="fas fa-angle-double-right pr-2"></i>Equipos</a>
      </div>
    </div>
</div>