{% load static %}

<!DOCTYPE html>
<html lang="en">

{% include 'head.html' %}

<body>

    {% include 'header.html' %}
    
    <main role="main" class="container">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        <div class="my-5">
            <div class="row">
                <div class="col-md-3 col-lg-3">
                    {% include 'tests_material/base_sidenav_tests_material.html' %}
                </div>
                <div class="col-md-9 col-lg-9">
                    {% block material %}
                    {% endblock %}
                </div>              
            </div>
        </div>
    </main>
          
    {% include 'footer.html' %}

    {% include 'scripts.html' %}

    {% block js %}
    {% endblock %}
   
</body>
</html>