<div id="menu">
  <div class="list-group">
    <a href="#" class="list-group-item unique-color white-text" data-toggle="collapse" data-target="#list-one" data-parent="#menu"><i class="fas fa-laptop pr-2"></i>Resitencia de Materiales</a>
    <div class="list-group collapse" id="list-one">
      <a class="list-group-item" href="{% url 'tests_material:info' %}"><i class="fas fa-angle-double-right pr-2"></i>Información General</a>
      <a class="list-group-item" href="{% url 'tests_material:equips' %}"><i class="fas fa-angle-double-right pr-2"></i>Equipos Implementados</a>
      <a class="list-group-item" href="{% url 'tests_material:guides' %}"><i class="fas fa-angle-double-right pr-2"></i>Guias de Ensayos</a>
      <a class="list-group-item" href="{% url 'tests_material:teachers' %}"><i class="fas fa-angle-double-right pr-2"></i>Plana Docente</a>
    </div>
    <a href="#" class="list-group-item unique-color white-text" data-toggle="collapse" data-target="#list-two" data-parent="#menu"><i class="fas fa-vials  pr-2"></i>Ensayos</a>
    <div class="list-group collapse" id="list-two">
      <a class="list-group-item" href="{% url 'tests_material:brick_type_list' %}"><i class="fas fa-angle-double-right pr-2"></i>Determinación de Propiedades de Unidad de Ladrillo</a>
      <a class="list-group-item" href="#" ><i class="fas fa-angle-double-right pr-2"></i>Compresión de Pilas de Ladrillo</a>
      <a class="list-group-item" href="#" ><i class="fas fa-angle-double-right pr-2"></i>Madera Compresión Simple</a>
      <a class="list-group-item" href="#" ><i class="fas fa-angle-double-right pr-2"></i>Madera Contenido de Humedad</a>
    </div>
    <a href="#" class="list-group-item unique-color white-text"><i class="fas fa-chart-line pr-2"></i>Estadisticas</a>
  </div>
</div>
