<form role="form" action="{% url 'tests_material:dice_break_delete' obj.id %}" method="POST">
    <div>
        {% csrf_token %}
        <h4>Esta seguro de borrar el ensayo: <small class="text-muted">{{ obj.id }}</small>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button class="btn btn-danger btn-md mx-1" name="submit" type="submit">Remover</button>
            <button class="btn btn-primary btn-md mx-1" type="button"  onclick="return close_modal()">Cancelar</button>
        </div>
    </div>
</form>