{% extends 'tests_material/base_tests_material.html' %}

{% block material %}
<!-- Section: Blog v.3 -->
<section class="my-3">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Ensayo de Rotura de Dados de Grout</h2>
    <!-- Section description -->
    <p class="text-center dark-grey-text w-responsive mx-auto mb-5">Duis aute irure dolor in reprehenderit in
      voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    
    <!-- Grid row -->
    <div class="row">
    
        <!-- Grid column -->
        <div class="col-lg-5 col-xl-4">
        
          <!-- Featured image -->
          <div class="view overlay rounded z-depth-1-half mb-lg-0 mb-4">
            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/images/49.jpg" alt="Sample image">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
        
        </div>
        <!-- Grid column -->
      
        <!-- Grid column -->
        <div class="col-lg-7 col-xl-8">
        
          <!-- Post title -->
          <h3 class="font-weight-bold mb-3"><strong>Descripción</strong></h3>
          <!-- Excerpt -->
          <p class="dark-grey-text">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit
            quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus
            et aut officiis debitis cum soluta nobis est eligendi placeat facere aut rerum.</p>
          <!-- Post data -->
          <p>by <a class="font-weight-bold">Jessica Clark</a>, 19/04/2018</p>
          <!-- Read more button -->
          <a data-toggle="tooltip" title="Descargar PDF" role="button" class="btn btn-primary btn-md"><i class="fas fa-file-download mr-2"></i>Manual</a>
        </div>
        <!-- Grid column -->  
    </div>
    <!-- Grid row -->

</section>
<!-- Section: Blog v.3 -->
<hr class="my-5">  
<!-- Widgets  -->
<section class="my-3">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 my-2">
            <div class="card">
                <div class="card-body">
                    <i class="far fa-money-bill-alt fa-3x green-text"></i>
                    <div class="text-right">
                        <div class="h4-responsive">S/.<span class="count"> 23569</span></div>
                        <div class="text-success">Costo</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- , ,  -->
        <div class="col-lg-3 col-md-6 col-sm-6 my-2">
            <div class="card">
                <div class="card-body">
                    <i class="far fa-clock fa-3x amber-text"></i>
                    <div class="text-right">
                        <div class="h4-responsive">Hrs.<span class="count"> Horas</span></div>
                        <div class="text-warning">Tiempo</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 my-2">
            <div class="card">
                <div class="card-body">
                    <i class="fas fa-flask fa-3x blue-text"></i>
                    <div class="text-right">
                        <div class="h4-responsive">Nº<span class="count"> Cantidad</span></div>
                        <div class="text-primary">Cantidad</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 my-2">
            <div class="card">
                <div class="card-body">
                    <i class="fas fa-users fa-3x red-text"></i>
                    <div class="text-right">
                        <div class="h4-responsive">Sr.<span class="count"> Nombre</span></div>
                        <div class="text-danger">Usuario</div>
                    </div>
                </div>
            </div>
        </div>    
    </div>
</section>

<hr class="my-5">

<section class="my-3">
    <!-- Editable table -->
    <div class="card">
      <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Ensayos de Rotura de Dados de Grout</h3>
      <div class="card-body">
        <div id="table">
          <span class="table-add float-right mb-3 mr-2"><a href="#!" class="text-primary"><i
                class="fas fa-plus fa-2x" aria-hidden="true"></i></a></span>
          <table class="table table-bordered table-responsive table-striped text-center">
            <thead class="primary-color-dark white-text">
              <tr>
                <th class="text-center">Codigo</th>
                <th class="text-center">f'c Esp.</th>
                <th class="text-center">Fecha Vaciado</th>
                <th class="text-center">Fecha Rotura</th>
                <th class="text-center">Edad (dias)</th>
                <th class="text-center">Largo-1 (cm)</th>
                <th class="text-center">Largo-2 (cm)</th>
                <th class="text-center">Ancho-1 (cm)</th>
                <th class="text-center">Ancho-2 (cm)</th>
                <th class="text-center">H (cm)</th>
                <th class="text-center">F (kgf)</th>
                <th class="text-center">Opciones</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="pt-3-half">2019000001</td>
                <td class="pt-3-half">280.00</td>
                <td class="pt-3-half">2019-01-01</td>
                <td class="pt-3-half">2019-01-27</td>
                <td class="pt-3-half">26</td>
                <td class="pt-3-half">5.00</td>
                <td class="pt-3-half">5.03</td>
                <td class="pt-3-half">5.01</td>
                <td class="pt-3-half">5.04</td>
                <td class="pt-3-half">5.00</td>
                <td class="pt-3-half">285.80</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a data-toggle="tooltip" title="Editar" role="button" class="btn btn-success btn-sm"><i class="fas fa-edit"></i></a>
                        <a data-toggle="tooltip" title="Borrar" role="button" class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></a>
                        <a data-toggle="tooltip" title="Descargar PDF" role="button" class="btn btn-orange btn-sm"><i class="far fa-file-pdf"></i></a>
                    </div>
                </td>
              </tr>
              <!-- This is our clonable table line -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- Editable table -->
</section>

<hr class="my-5">


{% endblock%}