{% extends "base_pdf.html" %}
{% load qr_code %}

{% block pdf %}
<div class="container">
    <header>
      <div class="row">
        <div class="col-12 p-1">
          <table class="table table-bordered table-sm text-center">
            <thead>
              <tr>
                <th>
                  <h5 class="font-weight-bold text-center mb-0">
                    CONCRETO. MÉTODO DE ENSAYO NORMALIZADO PARA LA DETERMINACIÓN DE LA RESISTENCIA A LA COMPRESIÓN DE DADOS DE GROUT EN MUESTRAS CUBICAS.
                  </h5>
                  <p class="font-weight-bold text-center mb-0">123dfsdfsdf</p>
                  <p class="font-weight-bold text-center mb-0">NpT</p>
                </th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </header>
    <main>
      <div class="row">
        <div class="col-12 p-1">
          <table class="table table-bordered table-sm text-left">
            <tbody>
              <tr>
                <th scope="row" style="width: 30%">SOLICITANTE</th>
                <td style="width: 50%">{{ obj.user.username }}</td>
                <td style="width: 20%">Otto</td>
              </tr>
              <tr>
                <th scope="row" style="width: 30%">NOMBRE DE LA OBRA</th>
                <td style="width: 50%">Jacob</td>
                <td style="width: 20%">Thornton</td>
              </tr>
              <tr>
                <th scope="row" style="width: 30%">UBUCACION DE LA OBRA</th>
                <td style="width: 50%">Larry</td>
                <td style="width: 20%">the Bird</td>
              </tr>
              <tr>
                <th scope="row" style="width: 30%">FECHA DE RECEPCION DE LA MUESTRA</th>
                <td style="width: 50%">Larry</td>
                <td style="width: 20%">the Bird</td>
              </tr>
              <tr>
                <th scope="row" style="width: 30%">FECHA DE EJECUCION DEL ENSAYO</th>
                <td style="width: 50%">Larry</td>
                <td style="width: 20%">the Bird</td>
              </tr>
              <tr>
                <th scope="row" style="width: 30%">FECHA DE RECEPCION DE REPORTE</th>
                <td style="width: 50%">Larry</td>
                <td style="width: 20%">the Bird</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>    
      <div class="row">
        <div class="col-12 p-1">
          <table class="table table-bordered table-sm text-center">
            <thead class="">
              <tr>
                <th rowspan="2" class="text-center align-middle">Id</th>
                <th rowspan="2" class="text-center align-middle">Codigo</th>
                <th colspan="2" class="text-center">Fecha</th>
                <th class="text-center">Edad</th>
                <th class="text-center">Area</th>
                <th class="text-center">Carga</th>
                <th colspan="2" class="text-center">Esfuezo de Rotua</th>
              </tr>
              <tr>
                <th class="text-center">Vaciado</th>
                <th class="text-center">Rotura</th>
                <th class="text-center">(dias)</th>
                <th class="text-center">(cm²)</th>
                <th class="text-center">(kgf)</th>
                <th class="text-center">(MPa)</th>
                <th class="text-center">(kgf/cm²)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="pt-3-half">{{ obj.id }}</td>
                <td class="pt-3-half">{{ obj.code }}</td>
                <td class="pt-3-half">{{ obj.fecha_vaciado|date:"d/m/Y" }}</td>
                <td class="pt-3-half">{{ obj.fecha_rotura|date:"d/m/Y" }}</td>
                <td class="pt-3-half">{{ obj.edad }}</td>
                <td class="pt-3-half">{{ obj.area }}</td>
                <td class="pt-3-half">{{ obj.fc }}</td>
                <td class="pt-3-half">{{ obj.fc }}</td>
                <td class="pt-3-half">{{ obj.fc }}</td>
              </tr>
              <!-- This is our clonable table line -->
            </tbody>
          </table>
        </div>
      </div>
      <div class="row" style="margin-top: 45%">
        <div class="col-12 p-1">
          <table class="table table-bordered table-sm text-center">
            <tbody>
              <tr>
                <td>
                  <p class="font-weight-bold  text-muted text-center py-5">UNIVERSIDAD CATÓLICA DE SANTA MARÍA</p>
                </td>
                <td>
                  <p class="font-weight-bold  text-muted text-center py-5">UNIVERSIDAD CATÓLICA DE SANTA MARÍA</p>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th>
                  <p class="font-weight-bold text-center mb-0">Ing.</p>
                  <p class="font-weight-bold text-center mb-0">LABORATORIO DE SUELOS Y CONCRETO</p>
                  <p class="font-weight-bold text-center mb-0">EPIC – FAICA - CAMPUS PARQUE INDUSTRIAL</p>
                </th>
                <th>
                  <p class="font-weight-bold text-center mb-0">Ing.</p>
                  <p class="font-weight-bold text-center mb-0">LABORATORIO DE SUELOS Y CONCRETO</p>
                  <p class="font-weight-bold text-center mb-0">EPIC – FAICA - CAMPUS PARQUE INDUSTRIAL</p>
                </th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </main>
    <footer>
      <div class="row">
        <div class="col-12 p-1">
          <table class="table table-bordered table-sm text-left">
            <tbody>
              <tr>
                <td style="width: 20%">
                  <p class="font-weight-bold text-center mb-0">EpicLabs</p>
                  <p class="font-weight-bold text-center mb-0">Ingenieria Civil</p>
                </td>
                <td style="width: 60%">
                  <p class="font-weight-bold text-center mb-0">Universidad Catolica de Santa Maria</p>
                  <p class="font-weight-bold text-center mb-0">Universidad Catolica de Santa Maria</p>
                </td>
                <td style="width: 20%">
                  <p class="text-center mb-0">{% qr_from_text obj.code size="T" %}</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>      
    </footer>
</div>
{% endblock %}
