{% extends 'tests_soil/base_tests_soil.html' %}

{% block soil %}
<!-- Template for a Client -->
{% if obj.user.is_client %}
{% include 'tests_soil/fine_material/detail/client.html' %}
{% endif %}

<!-- Template for a Bach -->
{% if obj.user.is_bach %}
{% include 'tests_soil/fine_material/detail/bach.html' %}
{% endif %}

<!-- Template for a Student -->
{% if obj.user.is_student %}
{% include 'tests_soil/fine_material/detail/student.html' %}
{% endif %}
                                
{% endblock %}
