<div class="row">
    <div class="col-md-6 mx-auto my-3">
        <div class="card shadow">
            <div class="card-body">
                <!-- Section heading -->
                <h4 class="h4-responsive font-weight-bold text-center ">{{ title }}</h4>
                <p class="dark-grey-text w-responsive text-center mx-auto">{{ norma_ASTM }} / {{ noma_NTP }}</p>
                <hr class="my-3">

                <!-- Section description -->
                <p class="text-left mx-auto  mt-3"><span class="font-weight-bold"><u>Datos del Usuario</u></span></p>
                <p class="text-left mx-auto "><span class="font-weight-bold">Usuario:</span> {{ obj.user.username }}</p>
                <p class="text-left mx-auto "><span class="font-weight-bold">Nombre:</span> {{ obj.user.first_name|title }}</p>
                <p class="text-left mx-auto "><span class="font-weight-bold">Apellidos:</span> {{ obj.user.last_name|title }}</p>
                <p class="text-left mx-auto "><span class="font-weight-bold">DNI:</span> {{ obj.user.bachprofile.dni }}</p>
                <p class="text-left mx-auto "><span class="font-weight-bold">Codigo:</span> {{ obj.user.bachprofile.codigo }}</p>
                <hr class="my-3">

                <p class="text-left mx-auto  mt-3"><span class="font-weight-bold"><u>Datos de la Tesis</u></span></p>
                {% for thesis in obj.user.bachprofile.thesis_set.all %}
                <p class="text-left mx-auto "><span class="font-weight-bold">Titulo:</span> {{ thesis.title|title }}</p>
                <p class="text-left mx-auto "><span class="font-weight-bold">Linea:</span> {{ thesis.line|title }}</p>

                    <p class="text-left mx-auto "><span class="font-weight-bold">Cursos Afines:</span> </p>                
                    {% for course in thesis.course.all %}
                    <p class="text-left mx-auto ">&#8594; {{ course }}</p>                
                    {% endfor %}

                    <p class="text-left mx-auto "><span class="font-weight-bold">Acesores:</span> </p>                
                    {% for adviser in thesis.adviser.all %}
                    <p class="text-left mx-auto ">&#8594; {{ adviser }}</p>                
                    {% endfor %}

                <p class="text-left mx-auto "><span class="font-weight-bold">Comienzo de la Thesis:</span> {{ thesis.start_day|date:"d/m/Y" }}</p>
                <p class="text-left mx-auto "><span class="font-weight-bold">Termino de la Thesis:</span> {{ thesis.finish_day|date:"d/m/Y" }}</p>
                <p class="text-left mx-auto "><span class="font-weight-bold">Duración:</span> {{ thesis.duration }} dias</p>
                {% endfor %}
                <hr class="my-3">

                <p class="text-left mx-auto  mt-3"><span class="font-weight-bold"><u>Datos del Ensayo Ingresados</u></span></p>
                <p class="text-left"><span class="font-weight-bold">Fecha de Muestreo:</span> {{ obj.sampling_date|date:"d/m/Y" }}</p>
                <p class="text-left"><span class="font-weight-bold">Fecha del Ensayo:</span> {{ obj.created|date:"d/m/Y" }}</p>
                <p class="text-left"><span class="font-weight-bold">Tipo de Diamante:</span> </p>
                <p class="text-left"><span class="font-weight-bold">Resistencia de Diseño:</span> {{ obj.fc_esp }} kgf/cm²</p>
                <p class="text-left"><span class="font-weight-bold">Curso Especifico:</span> {{ obj.course|title }}</p>
                <hr class="my-3">
                
                <p class="text-left mx-auto  mt-3"><span class="font-weight-bold"><u>Resultados del Ensayo</u></span></p>
                <p class="text-left"><span class="font-weight-bold">Determinación del Esfuerzo:</span></p>
                <table class="table table-sm table-responsive table-bordered text-center">
                    <thead class="primary-color-dark white-text">
                        <tr>
                            <th>Secuencia</th>
                            <th>Elemento</th>
                            <th>Fecha de Extracción</th>
                            <th>Fecha de Rotura</th>
                            <th>Tiempo de espera (dias)</th>
                            <th>Diametro (pulgadas)</th>
                            <th>Largo (pulgadas)</th>
                            <th>Factor L/D</th>
                            <th>Area (mm²)</th>
                            <th>Corrección</th>
                            <th>Carga (kgf)</th>
                            <th>Esfuerzo (kgf/cm²)</th>
                            <th>Esfuerzo (MPa)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for diamond_pice in qs_diamond_pice %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ diamond_pice.element_name }}</td>
                            <td>{{ diamond_pice.extraction_date }}</td>
                            <td>{{ diamond_pice.break_date }}</td>
                            <td>{{ diamond_pice.dilate }}</td>
                            <td>{{ diamond_pice.D }}</td>
                            <td>{{ diamond_pice.L }}</td>
                            <td>{{ diamond_pice.factor_ld }}</td>
                            <td>{{ diamond_pice.area }}</td>
                            <td>{{ diamond_pice.correction }}</td>
                            <td>{{ diamond_pice.load }}</td>
                            <td>{{ diamond_pice.fc }}</td>
                            <td>{{ diamond_pice.fc_MPa }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <hr class="my-3">
                                
                <p class="text-left mx-auto  mt-3"><span class="font-weight-bold"><u>Datos Extra</u></span></p>
                <p class="text-left mx-auto "><span class="font-weight-bold">Id:</span> {{ obj.id }}</p>
                <p class="text-left mx-auto "><span class="font-weight-bold">Creado:</span> {{ obj.created }}</p>
                <p class="text-left mx-auto "><span class="font-weight-bold">Actualizado:</span> {{ obj.updated }}</p>
                <p class="text-left mx-auto "><span class="font-weight-bold">Nombre del Ensayo:</span> {{ obj.name }}</p>
                <hr class="my-3">
                
                <div class="mt-5">
                    <a href="{% url 'tests_concrete:diamond_pice_break_update' obj.id %}" class="btn btn-primary btn-block" type="button">Editar Ensayo</a>
                    <a href="{% url 'tests_concrete:diamond_pice_break_list' %}" class="btn btn-primary btn-block" type="button">Cancelar</a>
                </div>
            </div>
        </div>
    </div>
</div>
