<div class="row">
    <div class="col-md-6 mx-auto my-3">
        <div class="card shadow">
            <div class="card-body">
                <!-- Section heading -->
                <h4 class="h4-responsive font-weight-bold text-center ">{{ title }}</h4>
                <p class="dark-grey-text w-responsive text-center mx-auto">{{ norma_NTP_parallel }} / {{ norma_NTP_perpendicular }}</p>
                <hr class="my-3">

                <!-- Section description -->
                <p class="text-left mt-3"><span class="font-weight-bold"><u>Datos del Usuario</u></span></p>
                <p class="text-left"><span class="font-weight-bold">Usuario:</span> {{ obj.user.username }}</p>
                <p class="text-left"><span class="font-weight-bold">Nombre:</span> {{ obj.user.first_name|title }}</p>
                <p class="text-left"><span class="font-weight-bold">Apellidos:</span> {{ obj.user.last_name|title }}</p>
                <p class="text-left"><span class="font-weight-bold">DNI:</span> {{ obj.user.groupprofile.dni }}</p>
                <p class="text-left"><span class="font-weight-bold">Codigo:</span> {{ obj.user.groupprofile.codigo }}</p>
                <hr class="my-3">

                <p class="text-left mt-3"><span class="font-weight-bold"><u>Datos del Ensayo Ingresados</u></span></p>
                <p class="text-left"><span class="font-weight-bold">Fecha de Muestreo:</span> {{ obj.sampling_date|date:"d/m/Y" }}</p>
                <p class="text-left"><span class="font-weight-bold">Fecha del Ensayo:</span> {{ obj.done_date|date:"d/m/Y" }}</p>
                <p class="text-left"><span class="font-weight-bold">Nombre del Elemento:</span> {{ obj.name_element }}</p>
                <p class="text-left"><span class="font-weight-bold">Nombre de la Madera:</span> {{ obj.wood_name }}</p>
                <hr class="my-3">

                <p class="text-left mt-3"><span class="font-weight-bold"><u>Resultados del Ensayo</u></span></p>    
                {% if qs_parallel %}
                <p class="text-left"><span class="font-weight-bold">Compresión Paralela a la fibra:</span></p>
                <table class="table table-sm table-responsive table-bordered text-center">
                    <thead class="primary-color-dark white-text">
                        <tr>
                            <th>Secuencia</th>
                            <th>Tipo de Compresión</th>
                            <th>Superior Largo (mm)</th>
                            <th>Superior Ancho (mm)</th>
                            <th>Area Superior (cm²)</th>
                            <th>Inferior Largo (mm)</th>
                            <th>Inferior Ancho (mm)</th>
                            <th>Area Inferior (cm²)</th>
                            <th>Prom. Areas (cm²)</th>
                            <th>Carga (kgf)</th>
                            <th>Resistencia a la Compresión (MPa (kgf/cm²))</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for parallel in qs_parallel %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ parallel.type_compression }}</td>
                            <td>{{ parallel.length_1 }}</td>
                            <td>{{ parallel.width_1 }}</td>
                            <td>{{ parallel.area_1 }}</td>
                            <td>{{ parallel.length_2 }}</td>
                            <td>{{ parallel.width_2 }}</td>
                            <td>{{ parallel.area_2 }}</td>
                            <td>{{ parallel.average_area }}</td>
                            <td>{{ parallel.load }}</td>
                            <td>{{ parallel.fc_MPa }} ({{ parallel.fc }})</td>
                        {% endfor %}
                        </tr>
                            <th scope="row">Promedio</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>{{ avg_fc_MPA_parallel }} ({{ avg_fc_parallel }})</td>
                    </tbody>
                </table>
                {% endif %}

                {% if qs_perpendicular %}
                <p class="text-left"><span class="font-weight-bold">Compresión Perpendicular a la fibra:</span></p>
                <table class="table table-sm table-responsive table-bordered text-center">
                    <thead class="primary-color-dark white-text">
                        <tr>
                            <th>Secuencia</th>
                            <th>Tipo de Compresión</th>
                            <th>Superior Largo (mm)</th>
                            <th>Superior Ancho (mm)</th>
                            <th>Area Superior (cm²)</th>
                            <th>Inferior Largo (mm)</th>
                            <th>Inferior Ancho (mm)</th>
                            <th>Area Inferior (cm²)</th>
                            <th>Prom. Areas (cm²)</th>
                            <th>Carga (kgf)</th>
                            <th>Resistencia a la Compresión (MPa (kgf/cm²))</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for perpendicular in qs_perpendicular %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ perpendicular.type_compression }}</td>
                            <td>{{ perpendicular.length_1 }}</td>
                            <td>{{ perpendicular.width_1 }}</td>
                            <td>{{ perpendicular.area_1 }}</td>
                            <td>{{ perpendicular.length_2 }}</td>
                            <td>{{ perpendicular.width_2 }}</td>
                            <td>{{ perpendicular.area_2 }}</td>
                            <td>{{ perpendicular.average_area }}</td>
                            <td>{{ perpendicular.load }}</td>
                            <td>{{ perpendicular.fc_MPa }} ({{ perpendicular.fc }})</td>
                        {% endfor %}
                        </tr>
                            <th scope="row">Promedio</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>{{ avg_fc_MPA_perpendicular }} ({{ avg_fc_perpendicular }})</td>
                    </tbody>
                </table>
                {% endif %}

                {% if qs_parallel %}
                <p class="text-left"><span class="font-weight-bold">Grupo segun Esfuerzos Admisibles (Paralela):</span> {{ type_parallel }}</p>
                {% endif %}
                {% if qs_perpendicular %}
                <p class="text-left"><span class="font-weight-bold">Grupo segun Esfuerzos Admisibles (Perpendicular):</span> {{ type_perpendicular }}</p>
                {% endif %}
                <hr class="my-3">
                                
                <p class="text-left mt-3"><span class="font-weight-bold"><u>Datos Extra</u></span></p>
                <p class="text-left"><span class="font-weight-bold">Id:</span> {{ obj.id }}</p>
                <p class="text-left"><span class="font-weight-bold">Creado:</span> {{ obj.created }}</p>
                <p class="text-left"><span class="font-weight-bold">Actualizado:</span> {{ obj.updated }}</p>
                <p class="text-left"><span class="font-weight-bold">Nombre del Ensayo:</span> {{ obj.name }}</p>
                <hr class="my-3">
                
                <div class="mt-5">
                    <a href="{% url 'tests_material:wood_compression_update' obj.id %}" class="btn btn-primary btn-block" type="button">Editar Ensayo</a>
                    <a href="{% url 'tests_material:wood_compression_list' %}" class="btn btn-primary btn-block" type="button">Cancelar</a>
                </div>
            </div>
        </div>
    </div>
</div>
