<div id="menu">
  <div class="list-group">
    <a href="#" class="list-group-item unique-color white-text" data-toggle="collapse" data-target="#list-one" data-parent="#menu"><i class="fas fa-laptop pr-2"></i>Mecánica de Suelos</a>
    <div class="list-group collapse" id="list-one">
      <a class="list-group-item" href="{% url 'tests_soil:info' %}"><i class="fas fa-angle-double-right pr-2"></i>Información General</a>
      <a class="list-group-item" href="{% url 'tests_soil:equips' %}"><i class="fas fa-angle-double-right pr-2"></i>Equipos Implementados</a>
      <a class="list-group-item" href="{% url 'tests_soil:guides' %}"><i class="fas fa-angle-double-right pr-2"></i>Guias de Ensayos</a>
      <a class="list-group-item" href="{% url 'tests_soil:teachers' %}"><i class="fas fa-angle-double-right pr-2"></i>Plana Docente</a>
    </div>
    <a href="#" class="list-group-item unique-color white-text" data-toggle="collapse" data-target="#list-two" data-parent="#menu"><i class="fas fa-vials  pr-2"></i>Ensayos</a>
    <div class="list-group collapse" id="list-two">
      <a class="list-group-item" href="{% url 'tests_soil:limit_list' %}" ><i class="fas fa-angle-double-right pr-2"></i>Limite Liquido y Limite Plastico</a>
      <a class="list-group-item" href="{% url 'tests_soil:fine_material_list' %}" ><i class="fas fa-angle-double-right pr-2"></i>Material Más Fino Tamiz 75μm</a>
      <a class="list-group-item" href="{% url 'tests_soil:equivalent_list' %}" ><i class="fas fa-angle-double-right pr-2"></i>Determinación del Equivalente de Arena</a>
      <a class="list-group-item" href="{% url 'tests_soil:proctor_m_list' %}" ><i class="fas fa-angle-double-right pr-2"></i>Proctor Modificado MTC E115 </a>
      <a class="list-group-item" href="#" ><i class="fas fa-angle-double-right pr-2"></i>Ensayo Suelos</a>
      <a class="list-group-item" href="#" ><i class="fas fa-angle-double-right pr-2"></i>Ensayo Suelos</a>
      <a class="list-group-item" href="#" ><i class="fas fa-angle-double-right pr-2"></i>Ensayo Suelos</a>
      <a class="list-group-item" href="#" ><i class="fas fa-angle-double-right pr-2"></i>Ensayo Suelos</a>
      <a class="list-group-item" href="#" ><i class="fas fa-angle-double-right pr-2"></i>Ensayo Suelos</a>
    </div>
    <a href="#" class="list-group-item unique-color white-text"><i class="fas fa-chart-line pr-2"></i>Estadisticas</a>
  </div>
</div>
