{% extends "base_normal.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-5 mx-auto my-5">
        <div class="card shadow">
          <div class="card-body">
            <h2 class="card-title text-center">Entrar</h2>
            <hr class="my-3">
            <div>              
              <form method="POST" action="{% url 'accounts:login' %}">
                  {% csrf_token %}
                  {{ form|crispy }}
                  <input type="hidden" name="next" value="{{ next }}">
                  <button class="btn btn-primary btn-block mt-5" type="submit">Entrar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock content %}