{% extends "base_normal.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-5 mx-auto my-5">
        <div class="card shadow">
          <div class="card-body">
            <h2 class="h2-responsive card-title text-center">Perfil Profesor</h2>
            <hr class="my-3">
            <div>
              <div class="media-body">
                <p class="card-meta mb-2"><i class="fas fa-user-graduate mr-2"></i><strong>Usuario: </strong>{{ user.username }}</p>
                <p class="card-meta mb-2"><i class="fas fa-user-graduate mr-2"></i><strong>Email: </strong>{{ user.email }}</p>
                <p class="card-meta mb-2"><i class="fas fa-user-graduate mr-2"></i><strong>Nombre: </strong>{{ user.teacherprofile.title }}. {{ user.first_name|default_if_none:"Complete el Formulario"|title }}</p>
                <p class="card-meta mb-2"><i class="fas fa-user-graduate mr-2"></i><strong>Apellidos: </strong>{{ user.last_name|default_if_none:"Complete el Formulario"|title }}</p>
                <p class="card-meta mb-2"><i class="fas fa-user-graduate mr-2"></i><strong>DNI: </strong>{{ user.teacherprofile.dni }}</p>
                <p class="card-meta mb-2"><i class="fas fa-user-graduate mr-2"></i><strong>Código: </strong>{{ user.teacherprofile.codigo }}</p>
                <p class="card-meta mb-2"><strong>Cursos Impartidos: </strong></p>
                {% for course in user.teacherprofile.course.all %}
                <p class="card-meta mb-2"><i class="fas fa-user-graduate mr-2"></i>{{ course }}</p>
                {% endfor %}
              </div>
            </div>
            <hr class="my-3">
            <div>              
                <form method="POST" action=".">
                    {% csrf_token %}
                    {{ profile_account|crispy }}
                    {{ profile_teacher|crispy }}
                    <button class="btn btn-primary btn-block mt-5" type="submit">Actualizar Perfil</button>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock content %}