{% extends "base_normal.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-5 mx-auto my-5">
        <div class="card shadow">
          <div class="card-body">
            <h2 class="card-title text-center">Perfil Estudiante</h2>
            <hr class="my-3">
            <div>
                <div class="media-body">
                    <h4 class="">{{ user.username }}</h4>
                    <div><small class="text-secondary ">{{ user.email }}</small></div>
                    <div><small class="text-secondary text-capitalize">{{ user.first_name }}</small></div>
                    <div><small class="text-secondary text-capitalize">{{ user.last_name }}</small></div>
                    <div><small class="text-secondary">{{ user.studentprofile.dni }}</small></div>
                </div>
            </div>
            <div>              
                <form method="POST" action=".">
                    {% csrf_token %}
                    {{ profile_account|crispy }}
                    {{ profile_student|crispy }}
                    <button class="btn btn-primary btn-block mt-5" type="submit">Actualizar Perfil</button>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock content %}