{% extends "base_normal.html" %}

{% block content %}
<div class="my-5">
  <div class="row">
    <div class="col-md-3 col-lg-3">
      {% include "labs/sectors/general/sidenav_general.html" %}
    </div>
    <div class="col-md-9 col-lg-9 mt-4">
                <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-md-12 mb-4">  
                <!-- Card -->
                <div class="card">
                  <div class="p-3">
                    <h3 class="h3-responsive card-header mb-2">{{ title }}</h3>
                    <table id="clientClients" class="display compact table table-bordered table-striped text-center">
                      <thead class="primary-color-dark white-text">
                        <tr>
                          <th>Usuario</th>
                          <th>Nombre de la Empresa</th>
                          <th>Dirección</th>
                          <th>Ruc</th>
                          <th>Telefono</th>
                          <th>Email</th>
                          <th>Activo</th>
                          <th>Creado</th>
                          <th>Actualizado</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for user in qs_users %}
                        <tr>
                          <td nowrap="nowrap">{{ user.username }}</td>
                          <td nowrap="nowrap">{{ user.clientprofile.long_name }}</td>
                          <td nowrap="nowrap">{{ user.clientprofile.direction }}</td>
                          <td nowrap="nowrap">{{ user.clientprofile.ruc }}</td>
                          <td nowrap="nowrap">{{ user.clientprofile.phone }}</td>
                          <td nowrap="nowrap">{{ user.email }}</td>
                          <td nowrap="nowrap">{{ user.clientprofile.active }}</td>
                          <td nowrap="nowrap">{{ user.clientprofile.created }}</td>
                          <td nowrap="nowrap">{{ user.clientprofile.updated }}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
                <!-- Card -->
            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->      
    </div>
  </div>
</div>
{% endblock content %}
{% block js %}
<script>
  $(document).ready( function () {
    $('#clientClients').DataTable({
      "scrollX": true,
      dom: 'B<"clear">lfrtip',
      buttons: [
          'csv', 'excel',
          {
            extend: 'pdfHtml5',
            orientation: 'landscape',
            pageSize: 'LEGAL',
            filename: 'clientes_{{ qs_users.count }}'
          }
      ]
    });
  } );
</script>
{% endblock %}