{% extends "base_normal.html" %}

{% block content %}
<div class="my-5">
  <div class="row">
    <div class="col-md-3 col-lg-3">
      {% include "labs/sectors/client/sidenav_client.html" %}
    </div>
    <div class="col-md-9 col-lg-9 mt-4">
                <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-md-12 mb-4">  
                <!-- Card -->
                <div class="card">
                  <div class="p-3">
                    <h3 class="card-title">Información de los Equipos en el Laboratorio de Suelos</h3>
                    <table id="clientEquipsSoil" class="display compact table table-bordered table-responsive table-striped text-center">
                      <thead class="warning-color-dark white-text">
                        <tr>
                          <th>Ensayo/Maquina</th>
                          {% for name in qs_equips_names %}
                          <th>{{ name }}</th>
                          {% endfor %}
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td scope="row">Equivalent</td>
                          {% for a in qs_Equivalent_Equiv %}
                          <td>{{ a }}</td>
                          {% endfor %}
                        </tr>
                        <tr>
                          <td scope="row">FineMaterial</td>
                          {% for b in qs_FineMaterial_equips %}
                          <td>{{ b }}</td>
                          {% endfor %}
                        </tr>  
                        <tr>
                          <td scope="row">GranulometricGlobal</td>
                          {% for c in qs_GranulometricGlobal_equips %}
                          <td>{{ c }}</td>
                          {% endfor %}
                        </tr>
                        <tr>
                          <td scope="row">Limit</td>
                          {% for d in qs_Liquid_Platic %}
                          <td>{{ d }}</td>
                          {% endfor %}
                        </tr>
                        <tr>
                          <td scope="row">MoistureContent</td>
                          {% for e in qs_MoistureContent_MoistureMaterial %}
                          <td>{{ e }}</td>
                          {% endfor %}
                        </tr>
                        <tr>
                          <td scope="row">ProctorM</td>
                          {% for f in qs_Saturation_Correction %}
                          <td>{{ f }}</td>
                          {% endfor %}
                        </tr>
                        <tr>
                          <td scope="row">SandCone</td>
                          {% for g in qs_ContentMoistureCarbure_CorrectionSandCone %}
                          <td>{{ g }}</td>
                          {% endfor %}
                        </tr>
                        <tr>
                          <td scope="row">SpecificGravity</td>
                          {% for h in qs_FractionPass_FractionRetained %}
                          <td>{{ h }}</td>
                          {% endfor %}
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <!-- Card -->
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6 mb-4">  
                <!-- Card -->
                <div class="card">
                  <div class="p-3">
                    <h3 class="card-title">Laboratorio de Suelos</h3>
                    <table class="table--flip display table table-sm table-bordered table-responsive table-striped text-center">
                      <thead class="warning-color-dark white-text">
                        <tr>
                          <th>Ensayos</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Proctor</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <!-- Card -->
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6 mb-4">  
                <!-- Card -->
                <div class="card">
                  <div class="p-3">
                    <h3 class="card-title">Grafica 1</h3>
                  </div>
                </div>
                <!-- Card -->
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-12 mb-4">  
                <!-- Card -->
                <div class="card">
                  <div class="p-3">
                    <h3 class="card-title">Grafica 2</h3>
                  </div>
                </div>
                <!-- Card -->            
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->      
    </div>
  </div>
</div>
{% endblock content %}
{% block js %}
<script>
  $(document).ready( function () {
    $('#clientEquipsSoil').DataTable({
      "scrollX": true,
      dom: 'B<"clear">lfrtip',
      buttons: [
          'csv', 'excel',
          {
            extend: 'pdfHtml5',
            orientation: 'landscape',
            pageSize: 'LEGAL',
            filename: 'equipos_{{ qs_equips.count }}'
          }
      ]
    });
  } );
</script>
{% endblock %}