{% extends "base_normal.html" %}

{% block content %}
<div class="my-5">
  <div class="row">
    <div class="col-md-3 col-lg-3">
      {% include "labs/sectors/client/sidenav_client.html" %}
    </div>
    <div class="col-md-9 col-lg-9 mt-4">
                <!--Grid row-->
        <div class="row">
                    
            <!--Grid column-->
            <div class="col-md-6 mb-4">  
              <!-- Card -->
              <div class="card">
                    <!-- Content -->
                    <a href="{% url 'labs:client_info_clients' %}">
                      <div class="text-white d-flex h-100 mask primary-color-dark">
                        <div class="align-self-center p-3">
                          <h3 class="card-title">Clientes</h3>
                          <p class="lead ">Más detalles<i class="fas fa-angle-double-right pl-2"></i></p>
                        </div>
                      </div>
                    </a>    
              </div>
              <!-- Card -->
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6 mb-4">  
              <!-- Card -->
              <div class="card">
                    <!-- Content -->
                    <a href="{% url 'labs:client_info_ref_per' %}">
                      <div class="text-white d-flex h-100 mask primary-color-dark">
                        <div class="align-self-center p-3">
                          <h3 class="card-title">Referencia</h3>
                          <p class="lead ">Más detalles<i class="fas fa-angle-double-right pl-2"></i></p>
                        </div>
                      </div>
                    </a>    
              </div>
              <!-- Card -->
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6 mb-4">  
              <!-- Card -->
              <div class="card">
                    <!-- Content -->
                    <a href="{% url 'labs:client_info_construction' %}">
                      <div class="text-white d-flex h-100 mask primary-color-dark">
                        <div class="align-self-center p-3">
                          <h3 class="card-title">Construcciones</h3>
                          <p class="lead ">Más detalles<i class="fas fa-angle-double-right pl-2"></i></p>
                        </div>
                      </div>
                    </a>    
              </div>
              <!-- Card -->
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6 mb-4">  
              <!-- Card -->
              <div class="card">
                    <!-- Content -->
                    <a href="{% url 'labs:client_equips_concrete' %}">
                      <div class="text-white d-flex h-100 mask warning-color-dark">
                        <div class="align-self-center p-3">
                          <h3 class="card-title">Equipos del Lab. Concreto</h3>
                          <p class="lead  ">Más detalles<i class="fas fa-angle-double-right pl-2"></i></p>
                        </div>
                      </div>
                    </a>    
              </div>
              <!-- Card -->
            </div>
            <!--Grid column-->
            
            <!--Grid column-->
            <div class="col-md-6 mb-4">  
              <!-- Card -->
              <div class="card">
                    <!-- Content -->
                    <a href="#">
                      <div class="text-white d-flex h-100 mask warning-color-dark">
                        <div class="align-self-center p-3">
                          <h3 class="card-title">Equipos del Lab. Materiales</h3>
                          <p class="lead  ">Más detalles<i class="fas fa-angle-double-right pl-2"></i></p>
                        </div>
                      </div>
                    </a>    
              </div>
              <!-- Card -->
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6 mb-4">  
              <!-- Card -->
              <div class="card">
                    <!-- Content -->
                    <a href="{% url 'labs:client_equips_soil' %}">
                      <div class="text-white d-flex h-100 mask warning-color-dark">
                        <div class="align-self-center p-3">
                          <h3 class="card-title">Equipos del Lab. Suelos</h3>
                          <p class="lead  ">Más detalles<i class="fas fa-angle-double-right pl-2"></i></p>
                        </div>
                      </div>
                    </a>    
              </div>
              <!-- Card -->
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6 mb-4">  
              <!-- Card -->
              <div class="card">
                    <!-- Content -->
                    <a href="{% url 'labs:client_tests_concrete'%}">
                      <div class="text-white d-flex h-100 mask success-color-dark">
                        <div class="align-self-center p-3">
                          <h3 class="card-title">Ensayos del Lab. Concreto</h3>
                          <p class="lead  ">Más detalles<i class="fas fa-angle-double-right pl-2"></i></p>
                        </div>
                      </div>
                    </a>    
              </div>
              <!-- Card -->
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6 mb-4">  
              <!-- Card -->
              <div class="card">
                    <!-- Content -->
                    <a href="{% url 'labs:client_equips_soil' %}">
                      <div class="text-white d-flex h-100 mask success-color-dark">
                        <div class="align-self-center p-3">
                          <h3 class="card-title">Ensayos del Lab. Materiales</h3>
                          <p class="lead  ">Más detalles<i class="fas fa-angle-double-right pl-2"></i></p>
                        </div>
                      </div>
                    </a>    
              </div>
              <!-- Card -->
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6 mb-4">  
              <!-- Card -->
              <div class="card">
                    <!-- Content -->
                    <a href="{% url 'labs:client_tests_soil'%}">
                      <div class="text-white d-flex h-100 mask success-color-dark">
                        <div class="align-self-center p-3">
                          <h3 class="card-title">Ensayos del Lab. Suelos</h3>
                          <p class="lead  ">Más detalles<i class="fas fa-angle-double-right pl-2"></i></p>
                        </div>
                      </div>
                    </a>    
              </div>
              <!-- Card -->
            </div>
            <!--Grid column-->
          </div>
        <!--Grid row-->      
    </div>
  </div>
</div>
{% endblock content %}