{% extends "base_normal.html" %}

{% block content %}
<div class="my-5">
  <div class="row">
    <div class="col-md-3 col-lg-3">
      {% include "labs/sectors/client/sidenav_client.html" %}
    </div>
    <div class="col-md-9 col-lg-9 mt-4">
                <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-md-12 mb-4">  
                <!-- Card -->
                <div class="card">
                  <div class="p-3">
                    <h3 class="card-title">Información de los Equipos en el Laboratorio de Concreto</h3>
                    <table id="clientsEquipsConcrete" class="display compact table table-bordered table-responsive table-striped text-center">
                      <thead class="warning-color-dark white-text">
                        <tr>
                          <th>Ensayo/Maquina</th>
                          {% for name in qs_equips_names %}
                          <th>{{ name }}</th>
                          {% endfor %}
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td scope="row">DiamondPiceBreak</td>
                          {% for a in qs_DiamondPiceBreak_equips %}
                          <td>{{ a }}</td>
                          {% endfor %}
                        </tr>
                        <tr>
                          <td scope="row">GroutDiceBreak</td>
                          {% for b in qs_GroutDiceBreak_equips %}
                          <td>{{ b }}</td>
                          {% endfor %}
                        </tr>  
                        <tr>
                          <td scope="row">LimeDiceBreak</td>
                          {% for c in qs_LimeDiceBreak_equips %}
                          <td>{{ c }}</td>
                          {% endfor %}
                        </tr>
                        <tr>
                          <td scope="row">LimePiceBreak</td>
                          {% for d in qs_LimePiceBreak_equips %}
                          <td>{{ d }}</td>
                          {% endfor %}
                        </tr>
                        <tr>
                          <td scope="row">PaverBreak</td>
                          {% for e in qs_PaverBreak_equips %}
                          <td>{{ e }}</td>
                          {% endfor %}
                        </tr>
                        <tr>
                          <td scope="row">PiceBreak</td>
                          {% for f in qs_PiceBreak_equips %}
                          <td>{{ f }}</td>
                          {% endfor %}
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <!-- Card -->
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6 mb-4">  
                <!-- Card -->
                <div class="card">
                  <div class="p-3">
                    <h3 class="card-title">Laboratorio de Concreto</h3>
                    <table class="table--flip display table table-sm table-bordered table-responsive table-striped text-center">
                      <thead class="warning-color-dark white-text">
                        <tr>
                          <th>Ensayos</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Proctor</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <!-- Card -->
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6 mb-4">  
                <!-- Card -->
                <div class="card">
                  <div class="p-3">
                    <h3 class="card-title">Grafica 1</h3>
                  </div>
                </div>
                <!-- Card -->
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-12 mb-4">  
                <!-- Card -->
                <div class="card">
                  <div class="p-3">
                    <h3 class="card-title">Grafica 2</h3>
                  </div>
                </div>
                <!-- Card -->            
            </div>
            <!--Grid column-->
            
        </div>
        <!--Grid row-->      
    </div>
  </div>
</div>
{% endblock content %}
{% block js %}
<script>
  $(document).ready( function () {
    $('#clientsEquipsConcrete').DataTable({
      "scrollX": true,
      dom: 'B<"clear">lfrtip',
      buttons: [
          'csv', 'excel',
          {
            extend: 'pdfHtml5',
            orientation: 'landscape',
            pageSize: 'LEGAL',
            filename: 'equipos_{{ qs_equips.count }}'
          }
      ]
    });
  } );
</script>
{% endblock %}