<div id="menu">
    <div class="list-group">
      <a href="#" class="list-group-item unique-color white-text" data-toggle="collapse" data-target="#list-one" data-parent="#menu"><i class="fas fa-chart-line pr-2"></i>Tesistas</a>
      <div class="list-group collapse" id="list-one">
        <a class="list-group-item" href="{% url 'labs:bach_info' %}"><i class="fas fa-angle-double-right pr-2"></i>Tesistas Info</a>
      </div>
      <a href="#" class="list-group-item unique-color white-text" data-toggle="collapse" data-target="#list-two" data-parent="#menu"><i class="fas fa-chart-line pr-2"></i>Equipos del Lab. de:</a>
      <div class="list-group collapse" id="list-two">
        <a class="list-group-item" href="{% url 'labs:bach_equips_concrete' %}"><i class="fas fa-angle-double-right pr-2"></i>Tecnología del Concreto</a>
        <a class="list-group-item" href="{% url 'labs:bach_equips_material' %}"><i class="fas fa-angle-double-right pr-2"></i>Materiales de Construcción</a>
        <a class="list-group-item" href="{% url 'labs:bach_equips_soil' %}"><i class="fas fa-angle-double-right pr-2"></i>Suelos</a>
      </div>
    </div>
</div>