{% extends "base_normal.html" %}

{% block content %}
<div class="my-5">
  <div class="row">
    <div class="col-md-3 col-lg-3">
      {% include "labs/sectors/student/sidenav_student.html" %}
    </div>
    <div class="col-md-9 col-lg-9 mt-4">
                <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-md-12 mb-4">  
                <!-- Card -->
                <div class="card">
                  <div class="p-3">
                    <h3 class="card-title">Información de los Tesistas</h3>
                    <table id="infoClient" class="display compact table table-bordered table-striped text-center">
                      <thead class="success-color-dark white-text">
                        <tr>
                          <th>Nombre de Usuario</th>
                          <th>Nombre de la Empresa</th>
                          <th>Dirección</th>
                          <th>Ruc</th>
                          <th>Telefono</th>
                          <th>Email</th>
                          <th>Activo</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for user in qs_users %}
                        <tr>
                          <td>{{ user.username }}</td>
                          <td>{{ user.clientprofile.long_name }}</td>
                          <td>{{ user.clientprofile.direction }}</td>
                          <td>{{ user.clientprofile.ruc }}</td>
                          <td>{{ user.clientprofile.phone }}</td>
                          <td>{{ user.email }}</td>
                          <td>{{ user.clientprofile.active }}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
                <!-- Card -->
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6 mb-4">  
                <!-- Card -->
                <div class="card">
                  <div class="p-3">
                    <h3 class="card-title">Estadisticas</h3>
                    <table class="table--flip display table table-sm table-bordered table-responsive table-striped text-center">
                      <thead class="success-color-dark white-text">
                        <tr>
                          <th>Numero de Clientes</th>
                          <th>Empresas Activas</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>{{ qs_users.count }}</td>
                          <td>Falta</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <!-- Card -->
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6 mb-4">  
                <!-- Card -->
                <div class="card">
                  <div class="p-3">
                    <h3 class="card-title">Grafica 1</h3>
                  </div>
                </div>
                <!-- Card -->
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-12 mb-4">  
                <!-- Card -->
                <div class="card">
                  <div class="p-3">
                    <h3 class="card-title">Grafica 2</h3>
                   
                  </div>
                </div>
                <!-- Card -->            
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-11 mb-4">  
                <!-- Card -->
                <div class="card">
                  <div class="p-3">
                    <h3 class="card-title">Personas de Referencia</h3>
                    <table id="infoReferencePerson" class="display compact table table-bordered table-striped text-center">
                        <thead class="success-color-dark white-text">
                          <tr>
                            <th>Titulo</th>
                            <th>Nombre y Apellidos</th>
                            <th>DNI</th>
                            <th>Telefono de Contacto</th>
                            <th>Cliente</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for ref_person in qs_ref_persons %}
                          <tr>
                            <td>{{ ref_person.title }}</td>
                            <td>{{ ref_person.name }}</td>
                            <td>{{ ref_person.dni }}</td>
                            <td>{{ ref_person.phone }}</td>
                            <td>{{ ref_person.client_profile }}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                </div>
                <!-- Card -->
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-12 mb-4">  
                <!-- Card -->
                <div class="card">
                  <div class="p-3">
                    <h3 class="card-title">Grafica 3</h3>
                   
                  </div>
                </div>
                <!-- Card -->            
            </div>
            <!--Grid column-->
            
            <!--Grid column-->
            <div class="col-md-12 mb-4">  
                <!-- Card -->
                <div class="card">
                  <div class="p-3">
                    <h3 class="card-title">Construcciones</h3>
                    <table id="infoConstruction" class="display compact table table-bordered table-striped text-center">
                        <thead class="success-color-dark white-text">
                          <tr>
                            <th>Construcción</th>
                            <th>Localización</th>
                            <th>Comienzo de Obra</th>
                            <th>Fin de la Obra (Aprox.)</th>
                            <th>Duración de la Obra (Aprox.) (Dias)</th>
                            <th>Cliente</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for construc in qs_construcs %}
                          <tr>
                            <td>{{ construc.name }}</td>
                            <td>{{ construc.location }}</td>
                            <td>{{ construc.start_day }}</td>
                            <td>{{ construc.finish_day }}</td>
                            <td>{{ construc.duration }}</td>
                            <td>{{ construc.client_profile }}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                    </table>
                  </div>
                </div>
                <!-- Card -->
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-12 mb-4">  
                <!-- Card -->
                <div class="card">
                  <div class="p-3">
                    <h3 class="card-title">Grafica 4</h3>
                   
                  </div>
                </div>
                <!-- Card -->            
            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->      
    </div>
  </div>
</div>
{% endblock content %}
{% block js %}
<script>
  $(document).ready( function () {
    $('#infoClient').DataTable({
      "scrollX": true,
      dom: 'B<"clear">lfrtip',
      buttons: [
          'csv', 'excel',
          {
            extend: 'pdfHtml5',
            orientation: 'landscape',
            pageSize: 'LEGAL',
            filename: 'clientes_{{ qs_users.count }}'
          }
      ]
    });
  } );
</script>
<script>
  $(document).ready( function () {
    $('#infoReferencePerson').DataTable({
      "scrollX": true,
      dom: 'B<"clear">lfrtip',
      buttons: [
          'csv', 'excel',
          {
            extend: 'pdfHtml5',
            orientation: 'landscape',
            pageSize: 'LEGAL',
            filename: 'ref_per_{{ qs_users.count }}'
          }
      ]
    });
  } );
</script>
<script>
  $(document).ready( function () {
    $('#infoConstruction').DataTable({
      "scrollX": true,
      dom: 'B<"clear">lfrtip',
      buttons: [
          'csv', 'excel',
          {
            extend: 'pdfHtml5',
            orientation: 'landscape',
            pageSize: 'LEGAL',
            filename: 'construcciones_{{ qs_users.count }}'
          }
      ]
    });
  } );
</script>
{% endblock %}