{% extends 'tests_soil/base_tests_soil.html' %}
{% load crispy_forms_tags %}

{% block soil %}
<div class="row">
    <div class="col-sm-9 col-lg-12 mx-auto my-3">
        <div class="card shadow">
            <div class="card-body">
                <span class="table-add float-right">
                    <a href="{% url 'tests_soil:proctor_m_list' %}" class="text-primary">
                        <i class="fas fa-times fa-1x" aria-hidden="true"></i>
                    </a>
                </span>
                <h4 class="h4-responsive font-weight-bold text-center ">{{ title }}</h4>
                <hr class="my-3">

                <form 
                    action="{% url 'tests_soil:density_save' obj.id %}" 
                    method="POST">
                    <div>
                        <div class="row">
                        {% csrf_token %}
                        {{ formset.management_form }}
                        {% for form in formset %}
                            <div class="col-md-6 col-lg-4">
                                <h6 class="h6-responsive font-weight-bold text-left ">Ensayo {{ forloop.counter }}</h6>
                                {{ form|crispy }}
                                <hr class="my-3">
                            </div>
                            {% endfor %}
                        </div>
                        <div class="mt-5">
                            <button class="btn btn-primary btn-block" name="submit" type="submit">Crear Ensayos</button>
                            <a href="{% url 'tests_soil:proctor_m_list' %}" class="btn btn-primary btn-block" type="button">Cancelar</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
