{% load qr_code %}

<div class="container">
    <header>
      <div class="row">
        <div class="col-xs-12 panel panel-default">  
          
          <div class="row">
            <div class="col-xs-8">
              <h4 class="text-center">
                <strong>{{ title }}</strong> 
              </h4>
            </div>
              <div class="col-xs-4">
                {% if qs_variation_dimentions %}
                <p style="margin-top: 1rem; margin-bottom: 0;" class="text-center"><strong>{{ norma_NTP_variation_dimentions }}</strong></p>
                {% endif %}
                {% if qs_warping %}
                <p style="margin-top: 0; margin-bottom: 0;" class="text-center"><strong>{{ norma_NTP_qs_warping }}</strong></p>
                {% endif %}
                {% if qs_density_voids %}
                <p style="margin-top: 0; margin-bottom: 0;" class="text-center"><strong>{{ norma_NTP_density_voids }}</strong></p>
                {% endif %}
                {% if qs_suction %}
                <p style="margin-top: 0; margin-bottom: 0;" class="text-center"><strong>{{ norma_NTP_suction }}</strong></p>
                {% endif %}
                {% if qs_abs_sat_coff %}
                <p style="margin-top: 0; margin-bottom: 0;" class="text-center"><strong>{{ norma_NTP_abs_sat_coff }}</strong></p>
                {% endif %}
                {% if qs_compretion_brick %}
                <p style="margin-top: 0; margin-bottom: 1rem;" class="text-center"><strong>{{ norma_NTP_compretion_brick }}</strong></p>
                {% endif %}
              </div>
          </div>
        </div>
      </div>   
    </header>
    <main>
      <div class="row">
        <div class="col-xs-8 panel panel-default">
          <p class="text-left panel-heading"><strong>Datos Principales</strong></p>
          <p  class="text-left"><strong>Nombres:</strong> {{ obj.user.first_name|title }} {{ obj.user.last_name|title }}</p> 
          <p  class="text-left"><strong>DNI:</strong> {{ obj.user.bachprofile.dni }}</p> 
          <p  class="text-left"><strong>Código:</strong> {{ obj.user.bachprofile.codigo }}</p> 
          <p  class="text-left"><strong>Curso Especifico:</strong> {{ obj.course|title }}</p>
          {% for thesis in obj.user.bachprofile.thesis_set.all %}
          <p  class="text-left"><strong>Titulo:</strong> {{ thesis.title|title }}</p> 
          <p  class="text-left"><strong>Linea de Desarrollo:</strong> {{ thesis.line|title }}</p> 
          <p  class="text-left"><strong>Comienzo de la Thesis:</strong> {{ thesis.start_day|date:"d/m/Y" }}</p> 
          <p  class="text-left"><strong>Termino de la Thesis:</strong> {{ thesis.finish_day|date:"d/m/Y" }}</p>
          <p  class="text-left"><strong>Duración:</strong> {{ thesis.duration }} días</p>
          <p  class="text-left"><strong>Asesores:</strong></p>
            {% for adviser in thesis.adviser.all %}
            <p  class="text-left">&#8594; {{ adviser }}</p>                
            {% endfor %}
          {% endfor %}
          <p class="text-left"><strong>Muestreo:</strong> {{ obj.created|date:"d/m/Y P" }}</p>
          {% if obj.created|date:"d/m/Y" != obj.updated|date:"d/m/Y" %}
          <p class="text-left"><strong>Corrección del Ensayo:</strong> {{ obj.updated|default_if_none:"Ninguna Corrección"|date:"d/m/Y P" }}</p>
          {% endif %}
          <p class="text-left"><strong>Emisión de Certificado:</strong> {% now "d/m/Y P" %}</p>
          {% if qs_variation_dimentions %}
          <p class="text-left"><strong>Tipo de Ladrillo según la Variación Dimensional:</strong></p>
          <p class="text-left"><strong>Según la Altura:</strong> {{ type_high }}</p>
          <p class="text-left"><strong>Según el Ancho:</strong> {{ type_width }}</p>
          <p class="text-left"><strong>Según el Largo:</strong> {{ type_lengt }}</p>
          {% endif %}
          {% if qs_warping %}
          <p class="text-left"><strong>Tipo de Ladrillo según el Alabeo:</strong> {{ type_warping }}</p>
          {% endif %}
          {% if qs_density_voids %}
          <p class="text-left"><strong>Tipo de Ladrillo según la Densidad:</strong> {{ type_density }}</p>
          {% endif %}
          {% if qs_suctidon %}
          <p class="text-left"><strong>Tipo de Ladrillo según la Succión:</strong> {{ type_face_wet_weight_correction }}</p>
          {% endif %}
          {% if qs_abs_sat_coff %}
          <p class="text-left"><strong>Tipo de Ladrillo según la Absorción:</strong> {{ type_abs }}</p>
          <p class="text-left"><strong>Tipo de Ladrillo según el Coeficiente de Absorción:</strong> {{ type_coeff_sat }}</p>
          {% endif %}
          {% if qs_compretion_brick %}
          <p class="text-left"><strong>Resistencia Característica:</strong> {{ fc_caracteristic_MPA }} MPa - {{ fc_caracteristic }} kgf/cm²</p>
          <p class="text-left"><strong>Tipo de Ladrillo según el Compresión:</strong> {{ type_compretion }}</p>
          {% endif %}
        </div>
        <div style="margin-left: 4rem;" class="col-xs-3 panel panel-default">
          <p class="text-left panel-heading"><strong>Datos del Ensayo</strong></p>
          <p class="text-left"><strong>ID:</strong> {{ obj.id }}</p>
          <p class="text-left"><strong>Código QR:</strong></p>
          <p class="text-center">{% qr_from_text obj.code size=4 image_format="png" %}</p>
          <p class="text-left"><strong>Ladrillera:</strong> {{ obj.brick_company }}</p>
          <p class="text-left"><strong>Largo Nominal:</strong> {{ obj.n_d_length }} mm</p>
          <p class="text-left"><strong>Ancho Nominal:</strong> {{ obj.n_d_width }} mm</p>
          <p class="text-left"><strong>Alto Nominal:</strong> {{ obj.n_d_high }} mm</p>
        </div>
      </div>    
      <div class="row">
        <div class="col-xs-12">
                <!-- Default panel contents -->
                {% if qs_variation_dimentions %}                
                <div class="panel-heading"><strong>Resultados del Ensayo:</strong> Variación de Dimensiones:</div>
                <table class="table-bordered">
                  <thead class="">
                      <tr>
                          <th class="text-center">Secuencia</th>
                          <th class="text-center">Largo Superior (mm)</th>
                          <th class="text-center">Largo Inferior (mm)</th>
                          <th class="text-center">Promedio Largo (mm)</th>
                          <th class="text-center">Ancho Superior (mm)</th>
                          <th class="text-center">Ancho Inferior (mm)</th>
                          <th class="text-center">Promedio Ancho (mm)</th>
                          <th class="text-center">Alto Posterior (mm)</th>
                          <th class="text-center">Alto Derecho (mm)</th>
                          <th class="text-center">Alto Frente (mm)</th>
                          <th class="text-center">Alto Izquierdo (mm)</th>
                          <th class="text-center">Promedio Alto (mm)</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for variation_dimentions in qs_variation_dimentions %}
                      <tr>
                          <th class="text-center" scope="row">{{ forloop.counter }}</th>
                          <td class="text-center">{{ variation_dimentions.upface_length }}</td>
                          <td class="text-center">{{ variation_dimentions.downface_length }}</td>
                          <td class="text-center">{{ variation_dimentions.average_length }}</td>
                          <td class="text-center">{{ variation_dimentions.upface_width }}</td>
                          <td class="text-center">{{ variation_dimentions.downface_width }}</td>
                          <td class="text-center">{{ variation_dimentions.average_width }}</td>
                          <td class="text-center">{{ variation_dimentions.high_backside }}</td>
                          <td class="text-center">{{ variation_dimentions.high_rightside }}</td>
                          <td class="text-center">{{ variation_dimentions.high_frontside }}</td>
                          <td class="text-center">{{ variation_dimentions.high_lefside }}</td>
                          <td class="text-center">{{ variation_dimentions.average_high }}</td>
                      </tr>
                      {% endfor %}
                      <tr>
                          <th class="text-center" scope="row">VD (%)</th>
                          <td class="text-center"></td>
                          <td class="text-center"></td>
                          <td class="text-center">{{ vd_lengt }}</td>
                          <td class="text-center"></td>
                          <td class="text-center"></td>
                          <td class="text-center">{{ vd_width }}</td>
                          <td class="text-center"></td>
                          <td class="text-center"></td>
                          <td class="text-center"></td>
                          <td class="text-center"></td>
                          <td class="text-center">{{ vd_high }}</td>
                      </tr>
                  </tbody>
                </table>
                {% endif %}
              <br>
                {% if qs_warping %}
                <div class="panel-heading"><strong>Resultados del Ensayo:</strong> Alabeo:</div>
                <table class="table-bordered text-center">
                  <thead class="primary-color-dark white-text">
                      <tr>
                          <th class="text-center">Secuencia</th>
                          <th class="text-center">Cara Superior Cóncavo (mm)</th>
                          <th class="text-center">Cara Superior Convexo (mm)</th>
                          <th class="text-center">Cara Inferior Cóncavo (mm)</th>
                          <th class="text-center">Cara Inferior Convexo (mm)</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for warping in qs_warping %}
                      <tr>
                          <th class="text-center" scope="row">{{ forloop.counter }}</th>
                          <td class="text-center">{{ warping.upface_concave }}</td>
                          <td class="text-center">{{ warping.upface_convex }}</td>
                          <td class="text-center">{{ warping.downface_concave }}</td>
                          <td class="text-center">{{ warping.downface_convex }}</td>
                      </tr>
                      {% endfor %}
                      <tr>
                          <th class="text-center" scope="row">Promedio</th>
                          <td class="text-center">{{ avg_upface_concave }}</td>
                          <td class="text-center">{{ avg_upface_convex }}</td>
                          <td class="text-center">{{ avg_downface_concave }}</td>
                          <td class="text-center">{{ avg_downface_convex }}</td>
                      </tr>
                  </tbody>
                </table>
                {% endif %}
              <br>
                {% if qs_density_voids %}
                <div class="panel-heading"><strong>Resultados del Ensayo:</strong> Porcentaje de Vacíos y Densidad:</div>
                <table class="table-bordered">
                    <thead class="">
                        <tr>
                            <th class="text-center">#</th>
                            <th class="text-center">Largo (mm)</th>
                            <th class="text-center">Ancho (mm)</th>
                            <th class="text-center">Alto (mm)</th>
                            <th class="text-center">Volumen Vm (cm³)</th>
                            <th class="text-center">Sc (gr)</th>
                            <th class="text-center">Su (gr)</th>
                            <th class="text-center">Volumen de la Arena Vs (cm³)</th>
                            <th class="text-center">Volumen Real (cm³)</th>
                            <th class="text-center">Porcentaje de Vacíos (%)</th>
                            <th class="text-center">Peso de la Unidad (gr)</th>
                            <th class="text-center">Densidad (g/cm³)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for density_voids in qs_density_voids %}
                        <tr>
                            <th class="text-center" scope="row">{{ forloop.counter }}</th>
                            <td class="text-center">{{ density_voids.length }}</td>
                            <td class="text-center">{{ density_voids.width }}</td>
                            <td class="text-center">{{ density_voids.high }}</td>
                            <td class="text-center">{{ density_voids.volume_brick }}</td>
                            <td class="text-center">{{ density_voids.sc }}</td>
                            <td class="text-center">{{ density_voids.su }}</td>
                            <td class="text-center">{{ density_voids.volume_void }}</td>
                            <td class="text-center">{{ density_voids.volume_real }}</td>
                            <td class="text-center">{{ density_voids.void_percentage }}</td>
                            <td class="text-center">{{ density_voids.weight }}</td>
                            <td class="text-center">{{ density_voids.density }}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <th class="text-center" scope="row">Prom.</th>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center">{{ avg_void_percentage }}</td>
                            <td class="text-center"></td>
                            <td class="text-center">{{ avg_density }}</td>
                        </tr>
                    </tbody>
                </table>
                {% endif %}
              <br>
                {% if qs_suction %}
                <div class="panel-heading"><strong>Resultados del Ensayo:</strong> Succión:</div>
                <table class="table-bordered">
                    <thead class="">
                        <tr>
                            <th class="text-center">Secuencia</th>
                            <th class="text-center">Peso Inicial (gr)</th>
                            <th class="text-center">Peso Final (gr)</th>
                            <th class="text-center">Diferencia de Peso (gr)</th>
                            <th class="text-center">Largo (mm)</th>
                            <th class="text-center">Ancho (mm)</th>
                            <th class="text-center">Área de Contacto (cm²)</th>
                            <th class="text-center">Peso Mojado (gr)</th>
                            <th class="text-center">Succión (gr/(200 cm²*min))</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for suction in qs_suction %}
                        <tr>
                            <th class="text-center" scope="row">{{ forloop.counter }}</th>
                            <td class="text-center">{{ suction.nomal_weight }}</td>
                            <td class="text-center">{{ suction.dry_weight }}</td>
                            <td class="text-center">{{ suction.diff_weight }}</td>
                            <td class="text-center">{{ suction.length }}</td>
                            <td class="text-center">{{ suction.width }}</td>
                            <td class="text-center">{{ suction.face_area }}</td>
                            <td class="text-center">{{ suction.face_wet_weight }}</td>
                            <td class="text-center">{{ suction.face_wet_weight_correction }}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <th class="text-center" scope="row">Promedio</th>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center">{{ avg_face_wet_weight_correction }}</td>
                        </tr>
                    </tbody>
                </table>
                {% endif %}
              <br>
                {% if qs_abs_sat_coff %}
                <div class="panel-heading"><strong>Resultados del Ensayo:</strong> % de Absorción y Coeficiente de Absorción:</div>
                <table class="table-bordered">
                    <thead class="">
                        <tr>
                            <th class="text-center">Secuencia</th>
                            <th class="text-center">Peso Seco (gr)</th>
                            <th class="text-center">Peso Saturado en Agua Fría (gr)</th>
                            <th class="text-center">Peso Satura después de 5 horas en Agua Caliente (gr)</th>
                            <th class="text-center">Porcentaje de Absorción (%)</th>
                            <th class="text-center">Porcentaje de Absorción Máxima (%)</th>
                            <th class="text-center">Coeficiente de Saturación</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for abs_sat_coff in qs_abs_sat_coff %}
                        <tr>
                            <th class="text-center" scope="row">{{ forloop.counter }}</th>
                            <td class="text-center">{{ abs_sat_coff.dry_weight }}</td>
                            <td class="text-center">{{ abs_sat_coff.wet_weight_cool_24 }}</td>
                            <td class="text-center">{{ abs_sat_coff.wet_weight_hot_5 }}</td>
                            <td class="text-center">{{ abs_sat_coff.abs_brick }}</td>
                            <td class="text-center">{{ abs_sat_coff.abs_max_brick }}</td>
                            <td class="text-center">{{ abs_sat_coff.coeff_sat }}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <th class="text-center" scope="row">Promedio</th>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center">{{ avg_abs_brick }}</td>
                            <td class="text-center">{{ avg_abs_max_brick }}</td>
                            <td class="text-center">{{ avg_coeff_sat }}</td>
                        </tr>
                    </tbody>
                  </table>
                  {% endif %}
                <br>
                  {% if qs_compretion_brick %}
                  <div class="panel-heading"><strong>Resultados del Ensayo:</strong> Compresión de Unidades:</div>
                  <table class="table-bordered">
                      <thead class="">
                          <tr>
                              <th class="text-center">Secuencia</th>
                              <th class="text-center">Largo Superior (mm)</th>
                              <th class="text-center">Ancho Superior (mm)</th>
                              <th class="text-center">Largo Inferior (mm)</th>
                              <th class="text-center">Ancho Inferior (mm)</th>
                              <th class="text-center">Área Superior (cm²)</th>
                              <th class="text-center">Área Inferior (cm²)</th>
                              <th class="text-center">Promedio de Áreas (cm²)</th>
                              <th class="text-center">Carga (kgf)</th>
                              <th class="text-center">Resistencia a la Compresión (MPa (kgf/cm²))</th>
                          </tr>
                      </thead>
                      <tbody>
                          {% for compretion_brick in qs_compretion_brick %}
                          <tr>
                              <th class="text-center" scope="row">{{ forloop.counter }}</th>
                              <td class="text-center">{{ compretion_brick.upface_length }}</td>
                              <td class="text-center">{{ compretion_brick.upface_width }}</td>
                              <td class="text-center">{{ compretion_brick.downface_length }}</td>
                              <td class="text-center">{{ compretion_brick.downface_width }}</td>
                              <td class="text-center">{{ compretion_brick.upface_area }}</td>
                              <td class="text-center">{{ compretion_brick.downface_area }}</td>
                              <td class="text-center">{{ compretion_brick.average_area }}</td>
                              <td class="text-center">{{ compretion_brick.load }}</td>
                              <td class="text-center">{{ compretion_brick.fc_MPa }} ({{ compretion_brick.fc }})</td>
                          </tr>
                          {% endfor %}
                          <tr>
                            <th class="text-center" scope="row">Promedio</th>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center">{{ avg_fc_MPA }} ({{ avg_fc }})</td>
                        </tr>
                        <tr>
                            <th class="text-center" scope="row">SD</th>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                            <td class="text-center">{{ std_fc_MPA }} ({{ std_fc }})</td>
                        </tr>
                    </tbody>
                  </table>
                  {% endif %}
                <br>
        </div>
      </div>
      <div class="row signature">
        <div class="col-xs-6">
          <table class="table-bordered">
            <tbody>
              <tr>
                <td>
                  <br>
                  <br>
                    <p  class="text-muted text-center">UNIVERSIDAD CATÓLICA DE SANTA MARÍA</p>
                  <br>
                  <br>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th>
                  <p  class="text-center ">{{ tecnic.title }}. {{ tecnic.user.first_name }} {{ tecnic.user.last_name }}</p>
                  <p  class="text-center ">LABORATORIO DE SUELOS Y CONCRETO</p>
                  <p  class="text-center ">EPIC – FAICA - CAMPUS PARQUE INDUSTRIAL</p>
                </th>
              </tr>
            </tfoot>
          </table>
        </div>
        <div class="col-xs-6">
            <table class="table-bordered">
              <tbody>
                <tr>
                  <td>
                    <br>
                    <br>
                      <p  class="text-muted text-center">UNIVERSIDAD CATÓLICA DE SANTA MARÍA</p>
                    <br>
                    <br>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th>
                    <p  class="text-center ">{{ coordinator.title }}. {{ coordinator.user.first_name }} {{ coordinator.user.last_name }}</p>
                    <p  class="text-center ">LABORATORIO DE SUELOS Y CONCRETO</p>
                    <p  class="text-center ">EPIC – FAICA - CAMPUS PARQUE INDUSTRIAL</p>
                  </th>
                </tr>
              </tfoot>
            </table>
        </div>
        </div>
    </main>
    <footer>
      <div class="row">
        <div class="col-xs-12 panel panel-default">
          <p class="text-center">Laboratorio de Ingeniería Civil, Universidad Católica de Santa Maria, EPICLABS &#169; 2019</p>
        </div>
      </div>   
    </footer>
</div>