{% extends "base_normal.html" %}

{% block content %}
<div class="my-5">
  <div class="row">
    <div class="col-md-3 col-lg-3">
      {% include "labs/sectors/client/sidenav_client.html" %}
    </div>
    <div class="col-md-9 col-lg-9 mt-4">
                <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-md-12 mb-4">  
                <!-- Card -->
                <div class="card">
                  <div class="p-3">
                    <h3 class="h3-responsive card-header mb-2">{{ title }}</h3>
                    <table id="clientClients" class="display compact table table-bordered table-striped text-center">
                      <thead class="primary-color-dark white-text">
                        <tr>
                          <th colspan="7">Cliente</th>
                          <th colspan="4">Persona de Referencia</th>
                          <th colspan="2">Construcción de Referencia</th>
                        </tr>
                        <tr>
                          <th>Usuario</th>
                          <th>Nombre de la Empresa</th>
                          <th>Dirección</th>
                          <th>Ruc</th>
                          <th>Telefono</th>
                          <th>Email</th>
                          <th>Activo</th>
                          <th>Título</th>
                          <th>Nombres y Apellidos</th>
                          <th>DNI</th>
                          <th>Telefono</th>
                          <th>Construcción</th>
                          <th>Dirección</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for user in qs_users %}
                        <tr>
                          <td>{{ user.username }}</td>
                          <td>{{ user.clientprofile.long_name }}</td>
                          <td>{{ user.clientprofile.direction }}</td>
                          <td>{{ user.clientprofile.ruc }}</td>
                          <td>{{ user.clientprofile.phone }}</td>
                          <td>{{ user.email }}</td>
                          <td>{{ user.clientprofile.active }}</td>
                          <td>
                            <table style="width:100%">
                              <tbody>
                                {% for ref_per in user.clientprofile.referenceperson_set.all %}
                                <tr>
                                  <td nowrap="nowrap">{{ ref_per.title }}.</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table style="width:100%">
                              <tbody>
                                {% for ref_per in user.clientprofile.referenceperson_set.all %}
                                <tr>
                                  <td nowrap="nowrap">{{ ref_per.name }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table style="width:100%">
                              <tbody>
                                {% for ref_per in user.clientprofile.referenceperson_set.all %}
                                <tr>
                                  <td nowrap="nowrap">{{ ref_per.dni }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table style="width:100%">
                              <tbody>
                                {% for ref_per in user.clientprofile.referenceperson_set.all %}
                                <tr>
                                  <td nowrap="nowrap">{{ ref_per.phone }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table style="width:100%">
                              <tbody>
                                {% for const in user.clientprofile.construction_set.all %}
                                <tr>
                                  <td nowrap="nowrap">{{ const.name }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table style="width:100%">
                              <tbody>
                                {% for const in user.clientprofile.construction_set.all %}
                                <tr>
                                  <td nowrap="nowrap">{{ const.location }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
                <!-- Card -->
            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->      
    </div>
  </div>
</div>
{% endblock content %}
{% block js %}
<script>
  $(document).ready( function () {
    $('#clientClients').DataTable({
      "scrollX": true,
      dom: 'B<"clear">lfrtip',
      buttons: [
          'csv', 'excel',
          {
            extend: 'pdfHtml5',
            orientation: 'landscape',
            pageSize: 'LEGAL',
            filename: 'clientes_{{ qs_users.count }}'
          }
      ]
    });
  } );
</script>
{% endblock %}