{% extends 'tests_concrete/base_tests_concrete.html' %}

{% block concrete %}
<!-- Template for a Client -->
{% if obj.user.is_client %}
{% include 'tests_concrete/pice_break/detail_client.html' %}
{% endif %}

<!-- Template for a Bach -->
{% if obj.user.is_bach %}
{% include 'tests_concrete/pice_break/detail_bach.html' %}
{% endif %}

<!-- Template for a Student -->
{% if obj.user.is_student %}
{% include 'tests_concrete/pice_break/detail_student.html' %}
{% endif %}
                                
{% endblock %}
