{% load qr_code %}

<div class="container">
    <header>
      <div class="row">
        <div class="col-xs-12 panel panel-default">  
          
          <div class="row">
            <div class="col-xs-8">
              <h4 class="text-center">
                <strong>{{ title }}</strong> 
              </h4>
            </div>
              <div class="col-xs-4">
                <p style="margin-top: 1rem; margin-bottom: 0;" class="text-center"><strong>{{ norma_ASTM }}</strong></p>
                <p style="margin-top: 0; margin-bottom: 1rem;" class="text-center"><strong>{{ noma_NTP }}</strong></p>
              </div>
          </div>
        </div>
      </div>   
    </header>
    <main>
      <div class="row">
        <div class="col-xs-8 panel panel-default">
          <p class="text-left panel-heading"><strong>Datos Principales</strong></p>
          <p  class="text-left"><strong>Empresa:</strong> {{ obj.user.clientprofile.long_name|title }}</p> 
          <p  class="text-left"><strong>Dirección:</strong> {{ obj.user.clientprofile.direction|title }}</p> 
          <p  class="text-left"><strong>RUC:</strong> {{ obj.user.clientprofile.ruc }}</p> 
          <p  class="text-left"><strong>Obra:</strong> {{ obj.construction.name|title }}</p> 
          <p  class="text-left"><strong>Ubicación:</strong> {{ obj.construction.location|title }}</p> 
          <p class="text-left"><strong>Muestreo:</strong> {{ obj.created|date:"d/m/Y P" }}</p>
          {% if obj.created|date:"d/m/Y" != obj.updated|date:"d/m/Y" %}
          <p class="text-left"><strong>Corrección del Ensayo:</strong> {{ obj.updated|default_if_none:"Ninguna Corrección"|date:"d/m/Y P" }}</p>
          {% endif %}
          <p class="text-left"><strong>Emisión de Certificado:</strong> {% now "d/m/Y P" %}</p>
          <p class="text-left"><strong>Persona de Referencia:</strong> {{ obj.reference_person.title }} {{ obj.reference_person.name|title }}</p>          
          <p class="text-left"><strong>Límite Líquido:</strong> {{ hit_25 }}%</p>          
          <p class="text-left"><strong>Límite Plástico:</strong> {{ mean_y_moisture_plastic }}%</p>          
          <p class="text-left"><strong>Indice de Plasticidad:</strong> {{ plastic_index }}</p>          
        </div>
        <div style="margin-left: 4rem;" class="col-xs-3 panel panel-default">
          <p class="text-left panel-heading"><strong>Datos del Ensayo</strong></p>
          <p class="text-left"><strong>ID:</strong> {{ obj.id }}</p>
          <p class="text-left"><strong>Código QR:</strong></p>
          <p class="text-center">{% qr_from_text obj.code size=4 image_format="png" %}</p>
          <p class="text-left"><strong>Calicata:</strong> {{ obj.pit }}</p>
          <p class="text-left"><strong>Estrato:</strong> {{ obj.layer }}</p>
        </div>
      </div>    
      <div class="row">
        <div class="col-xs-12">
                <!-- Default panel contents -->
                <!-- Table -->
                <div class="panel-heading"><strong>Resultados del Ensayo:</strong> Límite Líquido</div>
                <table class="table-bordered">
                  <thead class="">
                      <tr>
                          <th class="text-center">Secuencia</th>
                          <th class="text-center">Recipiente</th>
                          <th class="text-center">Nº de Golpes</th>
                          <th class="text-center">Peso del Recipiente (gramos)</th>
                          <th class="text-center">Peso Húmedo (gramos)</th>
                          <th class="text-center">Peso Seco (gramos)</th>
                          <th class="text-center">Peso Agua (gramos)</th>
                          <th class="text-center">Peso Material (gramos)</th>
                          <th class="text-center">Humedad %</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for liquid in qs_liquid %}
                      <tr>
                          <th class="text-center" scope="row">{{ forloop.counter }}</th>
                          <td class="text-center">{{ liquid.bowl }}</td>
                          <td class="text-center">{{ liquid.hit }}</td>
                          <td class="text-center">{{ liquid.bowl_weight }}</td>
                          <td class="text-center">{{ liquid.wet_weight }}</td>
                          <td class="text-center">{{ liquid.dry_weight }}</td>
                          <td class="text-center">{{ liquid.water_weight }}</td>
                          <td class="text-center">{{ liquid.material_weight }}</td>
                          <td class="text-center">{{ liquid.moisture }}</td>
                      </tr>
                      {% endfor %}
                  </tbody>
                </table>
                <!-- Table -->
                <div class="panel-heading"><strong>Resultados del Ensayo:</strong> Límite Plástico</div>
                <table class="table-bordered">
                  <thead class="">
                      <tr>
                          <th class="text-center">Secuencia</th>
                          <th class="text-center">Recipiente</th>
                          <th class="text-center">Peso del Recipiente (gramos)</th>
                          <th class="text-center">Peso Húmedo (gramos)</th>
                          <th class="text-center">Peso Seco (gramos)</th>
                          <th class="text-center">Peso Agua (gramos)</th>
                          <th class="text-center">Peso Material (gramos)</th>
                          <th class="text-center">Humedad %</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for plastic in qs_plastic %}
                      <tr>
                          <th class="text-center" scope="row">{{ forloop.counter }}</th>
                          <td class="text-center">{{ plastic.bowl }}</td>
                          <td class="text-center">{{ plastic.bowl_weight }}</td>
                          <td class="text-center">{{ plastic.wet_weight }}</td>
                          <td class="text-center">{{ plastic.dry_weight }}</td>
                          <td class="text-center">{{ plastic.water_weight }}</td>
                          <td class="text-center">{{ plastic.material_weight }}</td>
                          <td class="text-center">{{ plastic.moisture }}</td>
                      </tr>
                      {% endfor %}
                  </tbody>
                </table>
        </div>
      </div>
      <div class="col-xs-12 text-center">
        {% if graphic %}
          <img src="data:image/png;base64,{{ graphic|safe }}">
        {% endif %}
      </div>
      <div class="row signature">
        <div class="col-xs-6">
          <table class="table-bordered">
            <tbody>
              <tr>
                  <td>
                    <br>
                    <br>
                      <p  class="text-muted text-center">UNIVERSIDAD CATÓLICA DE SANTA MARÍA</p>
                    <br>
                    <br>
                  </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th>
                  <p  class="text-center ">{{ tecnic.title }}. {{ tecnic.user.first_name }} {{ tecnic.user.last_name }}</p>
                  <p  class="text-center ">LABORATORIO DE SUELOS Y CONCRETO</p>
                  <p  class="text-center ">EPIC – FAICA - CAMPUS PARQUE INDUSTRIAL</p>
                </th>
              </tr>
            </tfoot>
          </table>
        </div>
        <div class="col-xs-6">
            <table class="table-bordered">
              <tbody>
                <tr>
                  <td>
                    <br>
                    <br>
                      <p  class="text-muted text-center">UNIVERSIDAD CATÓLICA DE SANTA MARÍA</p>
                    <br>
                    <br>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th>
                    <p  class="text-center ">{{ coordinator.title }}. {{ coordinator.user.first_name }} {{ coordinator.user.last_name }}</p>
                    <p  class="text-center ">LABORATORIO DE SUELOS Y CONCRETO</p>
                    <p  class="text-center ">EPIC – FAICA - CAMPUS PARQUE INDUSTRIAL</p>
                  </th>
                </tr>
              </tfoot>
            </table>
        </div>
        </div>
    </main>
    <footer>
      <div class="row" >
        <div class="col-xs-12 panel panel-default">
            <p class="text-center">Laboratorio de Ingeniería Civil, Universidad Católica de Santa Maria, EPICLABS &#169; 2019</p>
        </div>
      </div>   
    </footer>
</div>