{% extends "base_fluid.html" %}

{% block content_fluid %}
<!-- Jumbotron -->
<div class="jumbotron text-center primary-color-dark lighten-2 white-text mx-2 my-5 z-depth-2">

  <!-- Title -->
  <h2 class="card-title h2">Laboratorio de Ingeniería Civil</h2>

  <!-- Subtitle -->
  <p class="mt-4 h6">Universidad Catolica de Santa Maria</p>
  <p class="mb-4 h6">Escuela Profesional de Ingenieria Civil - EPIC</p>
  <!-- Grid row -->
  <div class="row d-flex justify-content-center">

    <!-- Grid column -->
    <div class="col-xl-7 pb-2">

      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga aliquid dolorem ea distinctio exercitationem delectus qui, quas eum architecto, amet quasi accusantium, fugit consequatur ducimus obcaecati numquam molestias hic itaque accusantium doloremque laudantium, totam rem aperiam.</p>

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

  <hr class="my-4 rgba-white-light">

  <div class="pt-2">
    <button type="button" class="btn btn-outline-white">Clientes <i class="far fa-gem ml-1"></i></button>
    <button type="button" class="btn btn-outline-white">Cotización <i class="fas fa-hand-holding-usd ml-1"></i></button>
    <button type="button" class="btn btn-outline-white">Verificación <i class="far fa-eye ml-1"></i></button>
  </div>

</div>
<!-- Jumbotron -->
{% endblock %}
