{% extends "base_normal.html" %}

{% block content %}
<!-- Section: Pricing v.1 -->
<section class="my-5">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold text-center my-5">Nuestros Planes</h2>
    <!-- Section description -->
    <p class="text-center w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam
      eum porro a pariatur veniam.</p>
  
    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
  
        <!-- Pricing card -->
        <div class="card pricing-card">
  
          <!-- Price -->
          <div class="price header white-text blue rounded-top">
            <h2 class="number text-center mt-2">Basico</h2>
            <div class="version">
              <h5 class="text-center">Estudiante</h5>
            </div>
          </div>
  
          <!-- Features -->
          <div class="card-body striped mb-1">
  
            <ul>
              <li>
                <p class="mt-2"><i class="fas fa-check green-text pr-2"></i>20 GB Of Storage</p>
              </li>
              <li>
                <p><i class="fas fa-check green-text pr-2"></i>2 Email Accounts</p>
              </li>
              <li>
                <p><i class="fas fa-times red-text pr-2"></i>24h Tech Support</p>
              </li>
              <li>
                <p><i class="fas fa-times red-text pr-2"></i>300 GB Bandwidth</p>
              </li>
              <li>
                <p><i class="fas fa-times red-text pr-2"></i>User Management </p>
              </li>
            </ul>
            <button class="btn btn-blue">Tarifario</button>
  
          </div>
          <!-- Features -->
  
        </div>
        <!-- Pricing card -->
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-4 col-md-6 mb-md-0 mb-4">
  
        <!-- Pricing card -->
        <div class="card pricing-card">
  
          <!-- Price -->
          <div class="price header white-text indigo rounded-top">
            <h2 class="number text-center mt-2">Profesional</h2>
            <div class="version">
              <h5 class="text-center">Bachiller</h5>
            </div>
          </div>
  
          <!-- Features -->
          <div class="card-body striped mb-1">
  
            <ul>
              <li>
                <p class="mt-2"><i class="fas fa-check green-text pr-2"></i>20 GB Of Storage</p>
              </li>
              <li>
                <p><i class="fas fa-check green-text pr-2"></i>4 Email Accounts</p>
              </li>
              <li>
                <p><i class="fas fa-check green-text pr-2"></i>24h Tech Support</p>
              </li>
              <li>
                <p><i class="fas fa-times red-text pr-2"></i>300 GB Bandwidth</p>
              </li>
              <li>
                <p><i class="fas fa-times red-text pr-2"></i>User Management</p>
              </li>
            </ul>
            <button class="btn btn-indigo">Tarifario</button>
  
          </div>
          <!-- Features -->
  
        </div>
        <!-- Pricing card -->
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-4 col-md-6">
  
        <!-- Pricing card -->
        <div class="card pricing-card">
  
          <!-- Price -->
          <div class="price header white-text deep-purple rounded-top">
            <h2 class="number text-center mt-2">Profesional</h2>
            <div class="version">
              <h5 class="text-center">Empresarial</h5>
            </div>
          </div>
  
          <!-- Features -->
          <div class="card-body striped mb-1">
  
            <ul>
              <li>
                <p class="mt-2"><i class="fas fa-check green-text pr-2"></i>30 GB Of Storage</p>
              </li>
              <li>
                <p><i class="fas fa-check green-text pr-2"></i>5 Email Accounts</p>
              </li>
              <li>
                <p><i class="fas fa-check green-text pr-2"></i>24h Tech Support</p>
              </li>
              <li>
                <p><i class="fas fa-check green-text pr-2"></i>300 GB Bandwidth</p>
              </li>
              <li>
                <p><i class="fas fa-check green-text pr-2"></i>User Management</p>
              </li>
            </ul>
            <button class="btn btn-deep-purple">Tarifario</button>
  
          </div>
          <!-- Features -->
  
        </div>
        <!-- Pricing card -->
  
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
  
  </section>
  <!-- Section: Pricing v.1 -->
{% endblock content %}