{% load qr_code %}

<div class="container">
    <header>
      <div class="row">
        <div class="col-xs-12 panel panel-default">  
          
          <div class="row">
            <div class="col-xs-8">
              <h4 class="text-center">
                <strong>{{ title }}</strong> 
              </h4>
            </div>
              <div class="col-xs-4">
                <p style="margin-top: 1rem; margin-bottom: 0;" class="text-center"><strong>{{ norma_NTP_fb }}</strong></p>
                <p style="margin-top: 0; margin-bottom: 1rem;" class="text-center"><strong></strong></p>
              </div>
          </div>
        </div>
      </div>   
    </header>
    <main>
      <div class="row">
        <div class="col-xs-8 panel panel-default">
          <p class="text-left panel-heading"><strong>Datos Principales</strong></p>
          <p  class="text-left"><strong>Empresa:</strong> {{ obj.user.clientprofile.long_name|title }}</p> 
          <p  class="text-left"><strong>Dirección:</strong> {{ obj.user.clientprofile.direction|title }}</p> 
          <p  class="text-left"><strong>RUC:</strong> {{ obj.user.clientprofile.ruc }}</p> 
          <p  class="text-left"><strong>Obra:</strong> {{ obj.construction.name|title }}</p> 
          <p  class="text-left"><strong>Ubicación:</strong> {{ obj.construction.location|title }}</p> 
          <p class="text-left"><strong>Muestreo:</strong> {{ obj.created|date:"d/m/Y P" }}</p>
          {% if obj.created|date:"d/m/Y" != obj.updated|date:"d/m/Y" %}
          <p class="text-left"><strong>Corrección del Ensayo:</strong> {{ obj.updated|default_if_none:"Ninguna Corrección"|date:"d/m/Y P" }}</p>
          {% endif %}
          <p class="text-left"><strong>Emisión de Certificado:</strong> {% now "d/m/Y P" %}</p>
          <p class="text-left"><strong>Persona de Referencia:</strong> {{ obj.reference_person.title }} {{ obj.reference_person.name|title }}</p>
          <p class="text-left"><strong>Resistencia en Pila Promedio:</strong> {{ avg_fc }} kgf/cm² - {{ avg_fc_MPA }} MPa</p>
        </div>
        <div style="margin-left: 4rem;" class="col-xs-3 panel panel-default">
          <p class="text-left panel-heading"><strong>Datos del Ensayo</strong></p>
          <p class="text-left"><strong>ID:</strong> {{ obj.id }}</p>
          <p class="text-left"><strong>Código QR:</strong></p>
          <p class="text-center">{% qr_from_text obj.code size=4 image_format="png" %}</p>
          <p class="text-left"><strong>Nombre del Elemento:</strong> {{ obj.element_name }}</p>
          <p class="text-left"><strong>Tipo de Ladrillo:</strong> {{ obj.brick_type }}</p>
</div>
      </div>    
      <div class="">
        <div class="">
                <!-- Default panel contents -->
                {% if qs_masonry %}                
                <div class="panel-heading"><strong>Resultados del Ensayo:</strong> Compresión Paralela a la fibra:</div>
                <table class="table-bordered text-center">
                    <thead class="text">
                      <tr>
                        <th class="text-center">#</th>
                        <th class="text-center">Fecha de Vaciado</th>
                        <th class="text-center">Fecha de Rotura</th>
                        <th class="text-center">Edad (días)</th>
                        <th class="text-center">Largo (mm)</th>
                        <th class="text-center">Ancho (mm)</th>
                        <th class="text-center">Altura de la Pila (mm)</th>
                        <th class="text-center">hp/tp</th>
                        <th class="text-center">Corrección</th>
                        <th class="text-center">Área (cm²)</th>
                        <th class="text-center">Carga (kgf)</th>
                        <th class="text-center">Esfuerzo (kgf/cm²)</th>
                        <th class="text-center">Esfuerzo (MPa)</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for masonry in qs_masonry %}
                        <tr>
                          <th class="text-center" scope="row">{{ forloop.counter }}</th>
                          <td class="text-center">{{ masonry.poured_date }}</td>
                          <td class="text-center">{{ masonry.break_date }}</td>
                          <td class="text-center">{{ masonry.dilate }}</td>
                          <td class="text-center">{{ masonry.L }}</td>
                          <td class="text-center">{{ masonry.A }}</td>
                          <td class="text-center">{{ masonry.hp }}</td>
                          <td class="text-center">{{ masonry.hp_tp }}</td>
                          <td class="text-center">{{ masonry.correction }}</td>
                          <td class="text-center">{{ masonry.area }}</td>
                          <td class="text-center">{{ masonry.load }}</td>
                          <td class="text-center">{{ masonry.fc }}</td>
                          <td class="text-center">{{ masonry.fc_MPa }}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                          <th class="text-center" scope="row">Prom.</th>
                          <td class="text-center"></td>
                          <td class="text-center"></td>
                          <td class="text-center"></td>
                          <td class="text-center"></td>
                          <td class="text-center"></td>
                          <td class="text-center"></td>
                          <td class="text-center"></td>
                          <td class="text-center"></td>
                          <td class="text-center"></td>
                          <td class="text-center"></td>
                          <td class="text-center">{{ avg_fc }}</td>
                          <td class="text-center">{{ avg_fc_MPA }}</td>
                      </tr>
                    </tbody>
                </table>
                {% endif %}
              <br>
        </div>
      </div>
      <div class="row signature">
        <div class="col-xs-6">
          <table class="table-bordered">
            <tbody>
              <tr>
                  <td>
                    <br>
                    <br>
                      <p  class="text-muted text-center">UNIVERSIDAD CATÓLICA DE SANTA MARÍA</p>
                    <br>
                    <br>
                  </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th>
                  <p  class="text-center ">{{ tecnic.title }}. {{ tecnic.user.first_name }} {{ tecnic.user.last_name }}</p>
                  <p  class="text-center ">LABORATORIO DE SUELOS Y CONCRETO</p>
                  <p  class="text-center ">EPIC – FAICA - CAMPUS PARQUE INDUSTRIAL</p>
                </th>
              </tr>
            </tfoot>
          </table>
        </div>
        <div class="col-xs-6">
            <table class="table-bordered">
              <tbody>
                <tr>
                  <td>
                    <br>
                    <br>
                      <p  class="text-muted text-center">UNIVERSIDAD CATÓLICA DE SANTA MARÍA</p>
                    <br>
                    <br>
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <th>
                    <p  class="text-center ">{{ coordinator.title }}. {{ coordinator.user.first_name }} {{ coordinator.user.last_name }}</p>
                    <p  class="text-center ">LABORATORIO DE SUELOS Y CONCRETO</p>
                    <p  class="text-center ">EPIC – FAICA - CAMPUS PARQUE INDUSTRIAL</p>
                  </th>
                </tr>
              </tfoot>
            </table>
        </div>
        </div>
    </main>
    <footer>
      <div class="row" >
        <div class="col-xs-12 panel panel-default">
            <p class="text-center">Laboratorio de Ingeniería Civil, Universidad Católica de Santa Maria, EPICLABS &#169; 2019</p>          
        </div>
      </div>   
    </footer>
</div>