{% extends 'tests_concrete/base_tests_concrete.html' %}

{% block concrete %}
<!-- Template for a Client -->
{% if obj.user.is_client %}
{% include 'tests_concrete/diamond_pice_break/detail/client.html' %}
{% endif %}

<!-- Template for a Bach -->
{% if obj.user.is_bach %}
{% include 'tests_concrete/diamond_pice_break/detail/bach.html' %}
{% endif %}

<!-- Template for a Student -->
{% if obj.user.is_group %}
{% include 'tests_concrete/diamond_pice_break/detail/student.html' %}
{% endif %}
                                
{% endblock %}
