{% load static %}

<header>
<!--Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark unique-color z-depth-2">
    <a class="navbar-brand" href="#">EPIC Labs</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#content" aria-controls="content" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="content">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'labs:home' %}">Inicio</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Laboratorios
          </a>
          <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
            <a class="dropdown-item" href="{% url 'labs:concrete' %}">Lab. de Concreto</a>
            <a class="dropdown-item" href="{% url 'labs:material' %}">Lab. de Materiales</a>
            <a class="dropdown-item" href="{% url 'labs:soil' %}">Lab. de Suelos</a>
          </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">Sector
            </a>
            <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
              <a class="dropdown-item" href="{% url 'sectors:client' %}">Servicios a Terceros</a>
              <a class="dropdown-item" href="{% url 'sectors:student' %}">Estudiantes - Académico</a>
              <a class="dropdown-item" href="{% url 'sectors:thesis' %}">Tesistas</a>
            </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'labs:pricing' %}">Tarifario</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        {% if user.is_authenticated %}
        <li class="nav-item">
          {% if user.is_student %}
          <a class="nav-link" href="{% url 'accounts:profile_student'%}">Perfil Estudiante</a>
          {% elif user.is_bach %}
          <a class="nav-link" href="{% url 'accounts:profile_bach'%}">Perfil Bachiller</a>
          {% elif user.is_teacher %}
          <a class="nav-link" href="{% url 'accounts:profile_teacher'%}">Perfil Profesor</a>
          {% elif user.is_client %}
          <a class="nav-link" href="{% url 'accounts:profile_client'%}">Perfil Cliente</a>
          {% elif user.is_admin %}
          <a class="nav-link" href="{% url 'accounts:profile_admin'%}">Perfil Admin</a>         
          {% endif %}          
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'accounts:logout' %}">Salir</a>
        </li>
        {% else %}
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'accounts:login' %}">Entrar</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user"></i> Registrate </a>
          <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-4">
            <a class="dropdown-item" href="{% url 'accounts:register_student' %}">Estudiantes</a>
            <a class="dropdown-item" href="{% url 'accounts:register_bach' %}">Bachiller</a>
          </div>
        </li>
        {% endif %}

        {% if user.is_superuser %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user"></i> Registrate </a>
          <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-4">
            <a class="dropdown-item" href="{% url 'accounts:register_student' %}">Estudiantes</a>
            <a class="dropdown-item" href="{% url 'accounts:register_bach' %}">Bachiller</a>
            <a class="dropdown-item" href="{% url 'accounts:register_teacher' %}">Profesores</a>
            <a class="dropdown-item" href="{% url 'accounts:register_client' %}">Terceros</a>
            <a class="dropdown-item" href="{% url 'accounts:register_admin' %}">Administradores</a>
          </div>
        </li>
        {% endif %}

        <li class="nav-item">
            <a class="nav-link" href="{% url 'labs:contact' %}">
              <i class="fas fa-envelope"></i> Contáctenos </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'labs:contact' %}">
              <i class="fas fa-university"></i> UCSM </a>
        </li>        
      </ul>
    </div> 
  </nav>
  <!--/.Navbar -->
  
</header>