@page {
    size: "A4";
    margin: 2cm 2cm 2.5cm 2cm;
    @right-bottom {
        text-align: center;
        vertical-align: bottom;
        content: "Pag. " counter(page) " de " counter(pages); 
    } 
}    
footer {
    position: fixed;
    bottom: -0.6cm;
    left: 0;
    width: 98%;
}
table {
    font-size: 1rem;
    width: 100%;
}
td, th {
    padding: 0.2rem;
}
h4 {
    font-size: 1.25rem;
}
p {
    font-size: 1rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}
span {
    font-size: 1rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}
.panel-heading {
    font-size: 1rem;
}  
.panel-footer {
    font-size: 1rem;
}
.table--flip {
    display: flex;
    overflow: auto;
    width: auto;
}
.table--flip thead {
    display: flex;
    flex-shrink: 0;
    min-width: -webkit-min-content;
    min-width: -moz-min-content;
    min-width: min-content;
}
.table--flip tbody {
    display: flex;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
}
.table--flip tr {
    display: flex;
    flex-direction: column;
    min-width: -webkit-min-content;
    min-width: -moz-min-content;
    min-width: min-content;
    flex-shrink: 0;
}
.table--flip td,
.table--flip th {
    display: block;
}
.signature {
    width: 100%;
}