{% extends 'tests_material/base_tests_material.html' %}

{% block material %}
<!-- Template for a Client -->
{% if obj.user.is_client %}
{% include 'tests_material/wood_compression/detail/client.html' %}
{% endif %}

<!-- Template for a Bach -->
{% if obj.user.is_bach %}
{% include 'tests_material/wood_compression/detail/bach.html' %}
{% endif %}

<!-- Template for a Student -->
{% if obj.user.is_group %}
{% include 'tests_material/wood_compression/detail/student.html' %}
{% endif %}
                                
{% endblock %}
