{% extends "base_normal.html" %}

{% block content %}
<div class="my-5">
  <div class="row">
    <div class="col-md-3 col-lg-3">
      {% include "labs/sectors/general/sidenav_general.html" %}
    </div>
    <div class="col-md-9 col-lg-9 mt-4">
                <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-md-12 mb-4">  
                <!-- Card -->
                <div class="card">
                  <div class="p-3">
                    <h3 class="h3-responsive card-header mb-2">{{ title }}</h3>
                    <table id="generalBrickType" class="display compact table table-bordered table-striped text-center">
                      <thead class="primary-color-dark white-text">
                        <tr>
                          <th colspan="18">Ensayo Base</th>
                          <th colspan="9">Variación de Dimensiones</th>
                          <th colspan="4">Alabeo</th>
                          <th colspan="11">Densidad y Porcentaje de Vacíos</th>
                          <th colspan="8">Succión</th>
                          <th colspan="6">Porcentaje de Absorción y Coeficiente de Saturación</th>
                          <th colspan="10">Compresión de Unidades de Albanilería</th>
                        </tr>
                        <tr>
                          <th>Usuario</th>
                          <th>Actor</th>
                          <th>Nombre</th>
                          <th>Código QR</th>
                          <th>Elemento</th>
                          <th>Ladrillera</th>
                          <th>Largo Nominal</th>
                          <th>Ancho Nominal</th>
                          <th>Alto Nominal</th>
                          <th>Fecha de Muestreo</th>
                          <th>Fecha del Ensayo</th>
                          <th>Creado</th>
                          <th>Actualizado</th>
                          <th>Curso</th>
                          <th>Persona de Referencia</th>
                          <th>Proyecto</th>
                          <th>Largo Superior (mm)</th>
                          <th>Largo Inferior (mm)</th>
                          <th>Promedio Largo (mm)</th>
                          <th>Ancho Superior (mm)</th>
                          <th>Ancho Inferior (mm)</th>
                          <th>Promedio Ancho (mm)</th>
                          <th>Alto Posterior (mm)</th>
                          <th>Alto Derecho (mm)</th>
                          <th>Alto Frente (mm)</th>
                          <th>Alto Izquierdo (mm)</th>
                          <th>Promedio Alto (mm)</th>
                          <th>Cara Superior Cóncavo (mm)</th>
                          <th>Cara Superior Convexo (mm)</th>
                          <th>Cara Inferior Cóncavo (mm)</th>
                          <th>Cara Inferior Convexo (mm)</th>
                          <th>Largo (cm)</th>
                          <th>Ancho (cm)</th>
                          <th>Alto (cm)</th>
                          <th>Volumen Vm (cm³)</th>
                          <th>Sc (gr)</th>
                          <th>Su (gr)</th>
                          <th>Volumen de la Arena Vs (cm³)</th>
                          <th>Volumen Real (cm³)</th>
                          <th>Porcentaje de Vacíos (%)</th>
                          <th>Peso de la Unidad (gr)</th>
                          <th>Densidad (g/cm³)</th>
                          <th>Peso Inicial (gr)</th>
                          <th>Peso Final (gr)</th>
                          <th>Diferencia de Peso (gr)</th>
                          <th>Largo (cm)</th>
                          <th>Ancho (cm)</th>
                          <th>Área de Contacto (cm²)</th>
                          <th>Peso Mojado (gr)</th>
                          <th>Peso Corregido (gr)</th>
                          <th>Peso Seco (gr)</th>
                          <th>Peso Saturado en Agua Fría (gr)</th>
                          <th>Peso Saturado en Agua Caliente (gr)</th>
                          <th>Porcentaje de Absorción (%)</th>
                          <th>Porcentaje de Absorción Máxima (%)</th>
                          <th>Coeficiente de Saturación</th>
                          <th>Largo Superior (cm)</th>
                          <th>Ancho Superior (cm)</th>
                          <th>Largo Inferior (cm)</th>
                          <th>Ancho Inferior (cm)</th>
                          <th>Área Superior (cm²)</th>
                          <th>Área Inferior (cm²)</th>
                          <th>Promedio de Áreas (cm²)</th>
                          <th>Carga (kgf)</th>
                          <th>Resistencia a la Compresión (kg/cm²)</th>
                          <th>Resistencia a la Compresión (MPa)</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for test in qs %}
                        <tr>
                          <td nowrap="nowrap">{{ test.user }}</td>
                          {% if test.user.is_group %}
                          <td nowrap="nowrap">Estudiante</td>
                          {% elif test.user.is_bach %}
                          <td nowrap="nowrap">Tesista</td>
                          {% elif test.user.is_client %}
                          <td nowrap="nowrap">Cliente</td>
                          {% endif %}
                          <td nowrap="nowrap">{{ test.name }}</td>
                          <td nowrap="nowrap">{{ test.code }}</td>
                          <td nowrap="nowrap">{{ test.name_element }}</td>
                          <td nowrap="nowrap">{{ test.brick_company }}</td>
                          <td nowrap="nowrap">{{ test.n_d_length }}</td>
                          <td nowrap="nowrap">{{ test.n_d_width }}</td>
                          <td nowrap="nowrap">{{ test.n_d_high }}</td>
                          <td nowrap="nowrap">{{ test.sampling_date }}</td>
                          <td nowrap="nowrap">{{ test.done_date }}</td>
                          <td nowrap="nowrap">{{ test.created }}</td>
                          <td nowrap="nowrap">{{ test.updated }}</td>
                          <td nowrap="nowrap">{{ test.course }}</td>
                          <td nowrap="nowrap">{{ test.reference_person }}</td>
                          <td nowrap="nowrap">{{ test.construction }}</td>
                          <td>
                            <table style="width:100%">
                              <tbody>
                                {% for test_ref in test.variationdimensions_set.all %}
                                <tr>
                                  <td nowrap="nowrap">{{ test_ref.upface_length }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table style="width:100%">
                              <tbody>
                                {% for test_ref in test.variationdimensions_set.all %}
                                <tr>
                                  <td nowrap="nowrap">{{ test_ref.downface_length }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table style="width:100%">
                              <tbody>
                                {% for test_ref in test.variationdimensions_set.all %}
                                <tr>
                                  <td nowrap="nowrap">{{ test_ref.average_length }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table style="width:100%">
                              <tbody>
                                {% for test_ref in test.variationdimensions_set.all %}
                                <tr>
                                  <td nowrap="nowrap">{{ test_ref.upface_width }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table style="width:100%">
                              <tbody>
                                {% for test_ref in test.variationdimensions_set.all %}
                                <tr>
                                  <td nowrap="nowrap">{{ test_ref.downface_width }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table style="width:100%">
                              <tbody>
                                {% for test_ref in test.variationdimensions_set.all %}
                                <tr>
                                  <td nowrap="nowrap">{{ test_ref.average_width }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table style="width:100%">
                              <tbody>
                                {% for test_ref in test.variationdimensions_set.all %}
                                <tr>
                                  <td nowrap="nowrap">{{ test_ref.high_backside }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table style="width:100%">
                              <tbody>
                                {% for test_ref in test.variationdimensions_set.all %}
                                <tr>
                                  <td nowrap="nowrap">{{ test_ref.high_rightside }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table style="width:100%">
                              <tbody>
                                {% for test_ref in test.variationdimensions_set.all %}
                                <tr>
                                  <td nowrap="nowrap">{{ test_ref.high_frontside }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table style="width:100%">
                              <tbody>
                                {% for test_ref in test.variationdimensions_set.all %}
                                <tr>
                                  <td nowrap="nowrap">{{ test_ref.high_lefside }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table style="width:100%">
                              <tbody>
                                {% for test_ref in test.variationdimensions_set.all %}
                                <tr>
                                  <td nowrap="nowrap">{{ test_ref.average_high }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table style="width:100%">
                              <tbody>
                                {% for test_ref in test.warping_set.all %}
                                <tr>
                                  <td nowrap="nowrap">{{ test_ref.upface_concave }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table style="width:100%">
                              <tbody>
                                {% for test_ref in test.warping_set.all %}
                                <tr>
                                  <td nowrap="nowrap">{{ test_ref.upface_convex }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table style="width:100%">
                              <tbody>
                                {% for test_ref in test.warping_set.all %}
                                <tr>
                                  <td nowrap="nowrap">{{ test_ref.downface_concave }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table style="width:100%">
                              <tbody>
                                {% for test_ref in test.warping_set.all %}
                                <tr>
                                  <td nowrap="nowrap">{{ test_ref.downface_convex }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table style="width:100%">
                              <tbody>
                                {% for test_ref in test.densityvoids_set.all %}
                                <tr>
                                  <td nowrap="nowrap">{{ test_ref.length }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table style="width:100%">
                              <tbody>
                                {% for test_ref in test.densityvoids_set.all %}
                                <tr>
                                  <td nowrap="nowrap">{{ test_ref.width }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table style="width:100%">
                              <tbody>
                                {% for test_ref in test.densityvoids_set.all %}
                                <tr>
                                  <td nowrap="nowrap">{{ test_ref.high }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table style="width:100%">
                              <tbody>
                                {% for test_ref in test.densityvoids_set.all %}
                                <tr>
                                  <td nowrap="nowrap">{{ test_ref.volume_brick }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table style="width:100%">
                              <tbody>
                                {% for test_ref in test.densityvoids_set.all %}
                                <tr>
                                  <td nowrap="nowrap">{{ test_ref.sc }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table style="width:100%">
                              <tbody>
                                {% for test_ref in test.densityvoids_set.all %}
                                <tr>
                                  <td nowrap="nowrap">{{ test_ref.su }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table style="width:100%">
                              <tbody>
                                {% for test_ref in test.densityvoids_set.all %}
                                <tr>
                                  <td nowrap="nowrap">{{ test_ref.volume_real }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table style="width:100%">
                              <tbody>
                                {% for test_ref in test.densityvoids_set.all %}
                                <tr>
                                  <td nowrap="nowrap">{{ test_ref.volume_void }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table style="width:100%">
                              <tbody>
                                {% for test_ref in test.densityvoids_set.all %}
                                <tr>
                                  <td nowrap="nowrap">{{ test_ref.void_percentage }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table style="width:100%">
                              <tbody>
                                {% for test_ref in test.densityvoids_set.all %}
                                <tr>
                                  <td nowrap="nowrap">{{ test_ref.weight }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table style="width:100%">
                              <tbody>
                                {% for test_ref in test.densityvoids_set.all %}
                                <tr>
                                  <td nowrap="nowrap">{{ test_ref.density }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table style="width:100%">
                              <tbody>
                                {% for test_ref in test.suction_set.all %}
                                <tr>
                                  <td nowrap="nowrap">{{ test_ref.nomal_weight }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table style="width:100%">
                              <tbody>
                                {% for test_ref in test.suction_set.all %}
                                <tr>
                                  <td nowrap="nowrap">{{ test_ref.dry_weight }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table style="width:100%">
                              <tbody>
                                {% for test_ref in test.suction_set.all %}
                                <tr>
                                  <td nowrap="nowrap">{{ test_ref.diff_weight }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table style="width:100%">
                              <tbody>
                                {% for test_ref in test.suction_set.all %}
                                <tr>
                                  <td nowrap="nowrap">{{ test_ref.length }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table style="width:100%">
                              <tbody>
                                {% for test_ref in test.suction_set.all %}
                                <tr>
                                  <td nowrap="nowrap">{{ test_ref.width }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table style="width:100%">
                              <tbody>
                                {% for test_ref in test.suction_set.all %}
                                <tr>
                                  <td nowrap="nowrap">{{ test_ref.face_area }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table style="width:100%">
                              <tbody>
                                {% for test_ref in test.suction_set.all %}
                                <tr>
                                  <td nowrap="nowrap">{{ test_ref.face_wet_weight }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table style="width:100%">
                              <tbody>
                                {% for test_ref in test.suction_set.all %}
                                <tr>
                                  <td nowrap="nowrap">{{ test_ref.face_wet_weight_correction }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table style="width:100%">
                              <tbody>
                                {% for test_ref in test.abssatucoeff_set.all %}
                                <tr>
                                  <td nowrap="nowrap">{{ test_ref.dry_weight }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table style="width:100%">
                              <tbody>
                                {% for test_ref in test.abssatucoeff_set.all %}
                                <tr>
                                  <td nowrap="nowrap">{{ test_ref.wet_weight_cool_24 }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table style="width:100%">
                              <tbody>
                                {% for test_ref in test.abssatucoeff_set.all %}
                                <tr>
                                  <td nowrap="nowrap">{{ test_ref.wet_weight_hot_5 }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table style="width:100%">
                              <tbody>
                                {% for test_ref in test.abssatucoeff_set.all %}
                                <tr>
                                  <td nowrap="nowrap">{{ test_ref.abs_brick }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table style="width:100%">
                              <tbody>
                                {% for test_ref in test.abssatucoeff_set.all %}
                                <tr>
                                  <td nowrap="nowrap">{{ test_ref.abs_max_brick }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table style="width:100%">
                              <tbody>
                                {% for test_ref in test.abssatucoeff_set.all %}
                                <tr>
                                  <td nowrap="nowrap">{{ test_ref.coeff_sat }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table style="width:100%">
                              <tbody>
                                {% for test_ref in test.compretionbrick_set.all %}
                                <tr>
                                  <td nowrap="nowrap">{{ test_ref.upface_length }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table style="width:100%">
                              <tbody>
                                {% for test_ref in test.compretionbrick_set.all %}
                                <tr>
                                  <td nowrap="nowrap">{{ test_ref.upface_width }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table style="width:100%">
                              <tbody>
                                {% for test_ref in test.compretionbrick_set.all %}
                                <tr>
                                  <td nowrap="nowrap">{{ test_ref.downface_length }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table style="width:100%">
                              <tbody>
                                {% for test_ref in test.compretionbrick_set.all %}
                                <tr>
                                  <td nowrap="nowrap">{{ test_ref.downface_width }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table style="width:100%">
                              <tbody>
                                {% for test_ref in test.compretionbrick_set.all %}
                                <tr>
                                  <td nowrap="nowrap">{{ test_ref.upface_area }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table style="width:100%">
                              <tbody>
                                {% for test_ref in test.compretionbrick_set.all %}
                                <tr>
                                  <td nowrap="nowrap">{{ test_ref.downface_area }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table style="width:100%">
                              <tbody>
                                {% for test_ref in test.compretionbrick_set.all %}
                                <tr>
                                  <td nowrap="nowrap">{{ test_ref.average_area }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table style="width:100%">
                              <tbody>
                                {% for test_ref in test.compretionbrick_set.all %}
                                <tr>
                                  <td nowrap="nowrap">{{ test_ref.load }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table style="width:100%">
                              <tbody>
                                {% for test_ref in test.compretionbrick_set.all %}
                                <tr>
                                  <td nowrap="nowrap">{{ test_ref.fc }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table style="width:100%">
                              <tbody>
                                {% for test_ref in test.compretionbrick_set.all %}
                                <tr>
                                  <td nowrap="nowrap">{{ test_ref.fc_MPa }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
                <!-- Card -->
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6 mb-4">  
                <!-- Card -->
                <div class="card">
                  <div class="p-3">
                    <h3 class="h3-responsive card-header mb-2">Estadisticas</h3>
                    <table class="table--flip display table table-sm table-bordered table-responsive table-striped text-center">
                      <thead class="primary-color-dark white-text">
                        <tr>
                          <th>Total de Ensayos</th>
                          <th>Total de Ensayos de Clientes</th>
                          <th>Total de Ensayos de Tesistas</th>
                          <th>Total de Ensayos de Estudiantes</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>{{ qs.count }}</td>
                          <td>{{ tests_clients }}</td>
                          <td>{{ tests_bachs }}</td>
                          <td>{{ tests_groups }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <!-- Card -->
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6 mb-4">  
                <!-- Card -->
                <div class="card">
                  <div class="overflow-auto p-3">
                    {{ div | safe }}
                    {{ script | safe }}  
                  </div>
                </div>
                <!-- Card -->
            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->      
    </div>
  </div>
</div>
{% endblock content %}
{% block js %}
<script>
  $(document).ready( function () {
    $('#generalBrickType').DataTable({
      "scrollX": true,
      dom: 'B<"clear">lfrtip',
      buttons: [
          'csv', 'excel',
          {
            extend: 'pdfHtml5',
            orientation: 'landscape',
            pageSize: 'LEGAL',
            filename: 'ensayos_{{ qs.count }}'
          }
      ]
    });
  } );
</script>
{% endblock %}