{% extends "base_normal.html" %}

{% block content %}
<div class="my-5">
  <div class="row">
    <div class="col-md-3 col-lg-3">
      {% include "labs/sectors/general/sidenav_general.html" %}
    </div>
    <div class="col-md-9 col-lg-9 mt-4">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-md-12 mb-4">  
                <!-- Card -->
                <div class="card">
                  <div class="p-3">
                    <h3 class="h3-responsive card-header mb-2">{{ title }}</h3>
                    <table id="generalWoodCompression" class="display compact table table-bordered table-striped text-center">
                      <thead class="primary-color-dark white-text">
                        <tr>
                            <th colspan="13">Ensayo Base</th>
                            <th colspan="11">Pilas Ensayadas</th>
                        </tr>
                        <tr>
                          <th>Usuario</th>
                          <th>Actor</th>
                          <th>Nombre</th>
                          <th>Código QR</th>
                          <th>Elemento</th>
                          <th>Nombre de Madera</th>
                          <th>Fecha de Muestreo</th>
                          <th>Fecha del Ensayo</th>
                          <th>Creado</th>
                          <th>Actualizado</th>
                          <th>Curso</th>
                          <th>Persona de Referencia</th>
                          <th>Proyecto</th>
                          <th>Tipo de Compresión</th>
                          <th>Superior Largo (cm)</th>
                          <th>Superior Ancho (cm)</th>
                          <th>Área Superior (cm²)</th>
                          <th>Inferior Largo (cm)</th>
                          <th>Inferior Ancho (cm)</th>
                          <th>Área Inferior (cm²)</th>
                          <th>Prom. Áreas (cm²)</th>
                          <th>Carga (kgf)</th>
                          <th>Resistencia a la Compresión (kg/cm²)</th>
                          <th>Resistencia a la Compresión (MPa)</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for test in qs %}
                        <tr>
                          <td nowrap="nowrap">{{ test.user }}</td>
                          {% if test.user.is_group %}
                          <td nowrap="nowrap">Estudiante</td>
                          {% elif test.user.is_bach %}
                          <td nowrap="nowrap">Tesista</td>
                          {% elif test.user.is_client %}
                          <td nowrap="nowrap">Cliente</td>
                          {% endif %}
                          <td nowrap="nowrap">{{ test.name }}</td>
                          <td nowrap="nowrap">{{ test.code }}</td>
                          <td nowrap="nowrap">{{ test.name_element }}</td>
                          <td nowrap="nowrap">{{ test.wood_name }}</td>
                          <td nowrap="nowrap">{{ test.sampling_date }}</td>
                          <td nowrap="nowrap">{{ test.done_date }}</td>
                          <td nowrap="nowrap">{{ test.created }}</td>
                          <td nowrap="nowrap">{{ test.updated }}</td>
                          <td nowrap="nowrap">{{ test.course }}</td>
                          <td nowrap="nowrap">{{ test.reference_person }}</td>
                          <td nowrap="nowrap">{{ test.construction }}</td>
                          <td>
                            <table style="width:100%">
                              <tbody>
                                {% for test_ref in test.parallelperpendicular_set.all %}
                                <tr>
                                  <td nowrap="nowrap">{{ test_ref.type_compression }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table style="width:100%">
                              <tbody>
                                {% for test_ref in test.parallelperpendicular_set.all %}
                                <tr>
                                  <td nowrap="nowrap">{{ test_ref.length_1 }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table style="width:100%">
                              <tbody>
                                {% for test_ref in test.parallelperpendicular_set.all %}
                                <tr>
                                  <td nowrap="nowrap">{{ test_ref.width_1 }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table style="width:100%">
                              <tbody>
                                {% for test_ref in test.parallelperpendicular_set.all %}
                                <tr>
                                  <td nowrap="nowrap">{{ test_ref.area_1 }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table style="width:100%">
                              <tbody>
                                {% for test_ref in test.parallelperpendicular_set.all %}
                                <tr>
                                  <td nowrap="nowrap">{{ test_ref.length_2 }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table style="width:100%">
                              <tbody>
                                {% for test_ref in test.parallelperpendicular_set.all %}
                                <tr>
                                  <td nowrap="nowrap">{{ test_ref.width_2 }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table style="width:100%">
                              <tbody>
                                {% for test_ref in test.parallelperpendicular_set.all %}
                                <tr>
                                  <td nowrap="nowrap">{{ test_ref.area_2 }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table style="width:100%">
                              <tbody>
                                {% for test_ref in test.parallelperpendicular_set.all %}
                                <tr>
                                  <td nowrap="nowrap">{{ test_ref.average_area }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table style="width:100%">
                              <tbody>
                                {% for test_ref in test.parallelperpendicular_set.all %}
                                <tr>
                                  <td nowrap="nowrap">{{ test_ref.load }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table style="width:100%">
                              <tbody>
                                {% for test_ref in test.parallelperpendicular_set.all %}
                                <tr>
                                  <td nowrap="nowrap">{{ test_ref.fc }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table style="width:100%">
                              <tbody>
                                {% for test_ref in test.parallelperpendicular_set.all %}
                                <tr>
                                  <td nowrap="nowrap">{{ test_ref.fc_MPa }}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
                <!-- Card -->
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6 mb-4">  
                <!-- Card -->
                <div class="card">
                  <div class="p-3">
                    <h3 class="h3-responsive card-header mb-2">Estadisticas</h3>
                    <table class="table--flip display table table-sm table-bordered table-responsive table-striped text-center">
                      <thead class="primary-color-dark white-text">
                        <tr>
                          <th>Total de Ensayos</th>
                          <th>Total de Ensayos de Clientes</th>
                          <th>Total de Ensayos de Tesistas</th>
                          <th>Total de Ensayos de Estudiantes</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>{{ qs.count }}</td>
                          <td>{{ tests_clients }}</td>
                          <td>{{ tests_bachs }}</td>
                          <td>{{ tests_groups }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <!-- Card -->
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6 mb-4">  
                <!-- Card -->
                <div class="card">
                  <div class="overflow-auto p-3">
                    {{ div | safe }}
                    {{ script | safe }}  
                  </div>
                </div>
                <!-- Card -->
            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->      
    </div>
  </div>
</div>
{% endblock content %}
{% block js %}
<script>
  $(document).ready( function () {
    $('#generalWoodCompression').DataTable({
      "scrollX": true,
      dom: 'B<"clear">lfrtip',
      buttons: [
          'csv', 'excel',
          {
            extend: 'pdfHtml5',
            orientation: 'landscape',
            pageSize: 'LEGAL',
            filename: 'ensayos_{{ qs.count }}'
          }
      ]
    });
  } );
</script>
{% endblock %}